@font-face {
  font-family: 'FuturaNewMedium';
  src: url('fonts/FuturaNewMedium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewMedium.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'FuturaNewBook';
  src: url('fonts/FuturaNewBook.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewBook.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/*
@font-face {
  font-family: 'GFSDidot-Regular';
  src: url('fonts/GFSDidot-Regular.woff') format('woff'), url('fonts/GFSDidot-Regular.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'TheanoDidot';
  src: url('fonts/TheanoDidot.woff') format('woff'), url('fonts/TheanoDidot.ttf') format('truetype');
}
/* Colors */
/* Global hover transition */
.hoverTransition {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
/* 1440px to wv */
@media all and (max-width: 813px) {
  .main-nav.pseudo {
    display: none;
  }
  #top_navigation {
    top: 0;
    height: auto;
  }
  .hamburger,
  .hamburger-close {
    display: block;
  }
  .main-nav.white {
    display: block;
    position: absolute;
  }
  .main-nav.white .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -15px;
    width: 31px;
    height: 20px;
  }
  body {
    font-size: 14px;
  }
  .icon {
    height: 18px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .p {
    font-size: 18px;
    line-height: 22px;
  }
  input {
    height: 30px;
    padding-top: 10px;
    line-height: 30px;
  }
  select {
    font-size: 14px;
  }
  .placeholder {
    font-size: 20px;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 20px;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 20px;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 20px;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 20px;
  }
  .wrapper-slider-video {
    width: auto;
    overflow: hidden;
  }
  .wrapper-slider-video video {
    height: 458px;
    width: auto !important;
    left: 50%;
    position: absolute;
    top: 62px;
    transform: translateX(-50%);
  }
  .wrapper-slider-video * {
    border: 0 !important;
  }
  #slider-video-slide-2,
  #slider-video-slide-3,
  #slider-video-slide-4 {
    display: none;
  }
  #slider-video-slide-1 {
    display: block;
  }
  /* Main header styles */
  .main-header {
    max-height: 1000vh;
    height: 450px;
    overflow: visible;
  }
  .main-header.inner {
    height: 63px;
  }
  .main-nav {
    padding: 40px 30px 40px;
    line-height: 40px;
  }
  .main-nav a {
    font-size: 14px;
  }
  .main-nav a .icon-chevron {
    margin-bottom: -3px;
    margin-left: 3px;
    height: 15px;
  }
  .main-nav a .icon-cart {
    margin: 3px 0 -3px;
  }
  .main-nav.white {
    top: -80px;
    height: 80px;
    padding-top: 22px;
  }
  .logo {
    width: 61px;
    height: 40px;
  }
  .hamburger,
  .hamburger-close {
    position: absolute;
    top: 16px;
    left: 30px;
  }
  .hamburger-close {
    display: none;
  }
  .menu-shop,
  .menu-pages {
    width: auto;
    text-align: left;
    display: none;
  }
  .menu-shop > li,
  .menu-pages > li {
    padding-right: 0;
    display: block;
    text-align: center;
  }
  .menu-shop {
    min-height: 100px;
    margin-top: 43px;
  }
  .menu-shop > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-pages > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-shop-second {
    margin: 60px auto;
    line-height: 50px;
    top: 80px;
    padding: 0;
    position: static;
    height: auto;
    margin: 0;
  }
  .menu-shop-second > li {
    margin: 0 70px;
  }
  .menu-shop-second > li > a {
    font-size: 18px;
  }
  .menu-shop-second > li {
    margin: 0;
    padding: 0 20px;
  }
  .menu-shop-second > li > a {
    line-height: 50px;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 60px;
    width: 25vw;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
  }
  .menu-shop-second > li:nth-child(2) .menu-shop-third {
    margin-top: 0px;
  }
  .menu-shop-second > li:nth-child(2) > a {
    left: 25vw;
  }
  .menu-shop-second > li:nth-child(3) > a {
    left: 50vw;
  }
  .menu-shop-second > li:nth-child(4) > a {
    left: 75vw;
  }
  .menu-shop-second > li.active > a {
    position: absolute;
  }
  .menu-shop-third {
    max-height: 999vh;
    top: auto;
    padding: 60px 20px 0;
    margin: 48px 0 0 -50px;
    position: static;
    border: 0;
    width: 100vw;
    box-sizing: border-box;
  }
  .menu-shop-third ul > li {
    height: 42px;
    width: 100%;
  }
  .menu-shop-third ul > li > a {
    font-size: 18px;
    line-height: 22px;
  }
  .menu-shop-third h5 {
    font-size: 24px;
    width: auto;
    margin: 0 0 10px;
    cursor: pointer;
    padding: 8px 0 0;
  }
  .menu-shop-category-wrapper {
    float: none;
    width: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-shop-category-wrapper.wide {
    width: 100%;
  }
  .menu-shop-category-wrapper.wide ul {
    columns: 2;
    display: block;
  }
  .menu-shop-category-wrapper.extra-wide {
    width: 100%;
  }
  .menu-shop-category-wrapper.extra-wide ul {
    columns: 3;
    display: block;
  }
  .fire-cloud-menu {
    height: 37px;
  }
  .fire-cloud-menu > a {
    display: none;
  }
  .cloud-menu {
    display: block;
    position: static;
    line-height: 2;
  }
  .cloud-menu li {
    width: 20vw;
  }
  .menu-social,
  .menu-contacts {
    bottom: 65px;
  }
  .menu-social > li,
  .menu-contacts > li {
    margin-top: 65px;
  }
  .menu-social {
    left: 15px;
  }
  .fire-submenu-social:hover .submenu-social {
    display: block;
  }
  .submenu-social {
    display: none;
    position: absolute;
    background: #ffffff;
    list-style: none;
    margin: -40px 0 0 0;
    white-space: nowrap;
    margin-left: 200%;
    padding: 0 0 0 20px;
    height: 60px;
    line-height: 60px;
  }
  .submenu-social:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    margin: 18px 0 0 -40px;
  }
  .submenu-social li {
    display: inline-block;
    margin-right: 20px;
  }
  .submenu-social a {
    color: #000;
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase;
  }
  .submenu-social a:hover {
    color: #9f6f1d;
  }
  .menu-contacts {
    right: 15px;
  }
  .slide-header {
    height: 150px;
  }
  .slide-header-h2 {
    font-size: 10vw;
  }
  .slide-header-h5 {
    font-size: 14px;
    margin: 20px 0 0;
  }
  .menu-slides {
    bottom: 20px;
    width: 90%;
    left: 5%;
  }
  .menu-slides a {
    padding: 20px 0;
    text-indent: -100vw;
    width: 40px;
    margin: 0 10px;
  }
  /* Content section begin */
  .menu-outlet {
    margin: 60px auto;
  }
  .menu-outlet > li {
    margin: 0 70px;
  }
  .menu-outlet > li > a {
    font-size: 18px;
  }
  .main-content {
    overflow: hidden;
    position: relative;
    background: #f1f1f1;
  }
  .main-content .menu-outlet {
    display: flex;
    justify-content: space-around;
    padding: 28px 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
  }
  .main-content .menu-outlet > li {
    margin: 0;
    text-align: center;
    flex-wrap: nowrap;
  }
  .main-content .menu-outlet > li > a {
    font-size: 18px;
  }
  .heading-outlet {
    padding-left: 0;
    width: 100vw;
    position: static;
  }
  .heading-outlet-title {
    font-size: 36px;
    margin: 30px 0 0;
    text-align: center;
  }
  .heading-outlet-description {
    width: auto;
    margin: 16px 40px 28px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
  .heading-outlet .button-white {
    display: block;
    margin: 0 auto;
  }
  .button-white {
    width: 130px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
  }
  .button-black {
    width: 130px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
  }
  .button-gold {
    width: 130px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
    width: auto;
    padding: 0 50px;
    background: #9f6f1d;
    color: #fff;
  }
  .button-gold:hover {
    color: #fff;
  }
  .wrapper-slider-shop.cropped {
    margin-left: 0;
  }
  .wrapper-slider-shop.offset {
    position: relative;
    left: -2%;
    width: 102%;
  }
  .wrapper-slider-shop.offset .slider-shop {
    width: 1000px;
    height: 720px;
    margin: 0;
  }
  .wrapper-slider-shop.offset .slider-shop-slides {
    width: 1000px;
    height: 720px;
  }
  .wrapper-slider-shop.offset .slider-shop-arrow.left,
  .wrapper-slider-shop.offset .slider-shop-arrow.right {
    display: none;
  }
  /*jssor slider loading skin spin css*/
  .slider-shop-spinner img {
    width: 38px;
    height: auto;
  }
  /*.slider-shop-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    img {
      margin-top: -19*@x;
      position: relative;
      top: 50%;
      width: 38*@x;
      height: 38*@x;
    }
  }

  .slider-shop-spinner img {
    animation-name: slider-shop-spinner;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes slider-shop-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  */
  .slider-shop {
    width: 1400px;
    height: 720px;
  }
  .slider-shop-arrow.right,
  .slider-shop-arrow.left {
    width: 10px;
  }
  .section-outlet {
    margin-right: -42vw;
  }
  .wrapper-slider-shop.cropped {
    margin-left: -42vw;
    margin-right: -42vw;
  }
  .cropped .slider-shop-arrow.right {
    right: 7.5vw;
    display: none;
  }
  .section-look {
    margin-top: 50px;
    background: none;
  }
  .section-look-img-wrapper {
    width: 90vw;
    height: auto;
    margin: 0 5vw;
  }
  .section-look-title {
    margin: 109px 0 0;
    width: 1260px;
  }
  .section-look-description {
    margin-top: 10px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
  .section-look-slider {
    display: none;
  }
  .section-look-slide {
    width: 400px;
    padding-right: 50px;
  }
  .section-look-slide-img {
    width: 170px;
    height: 273px;
    margin-right: 30px;
  }
  .section-look-slide-title {
    margin: 47px 0 0;
  }
  .section-look-slide-description {
    margin-top: 8px;
    font-size: 18px;
    line-height: 22px;
  }
  .section-look .button-white {
    margin: 20px auto;
    display: block;
  }
  .section-brands {
    height: auto;
    padding: 50px 5vw;
    flex-wrap: wrap;
  }
  .section-brands-brand-wrapper {
    min-width: 80px;
    width: 80px;
    height: 80px;
    text-indent: -100vw;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .section-brands-brand-wrapper:first-child {
    margin-left: 20px;
    margin-right: 20px;
  }
  .section-brands-btn-all {
    width: 130px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 25px;
    line-height: 20px;
    width: 80px;
    margin: 20px;
  }
  .section-subsсribe {
    height: auto;
    padding: 5vw;
    width: 100%;
  }
  .section-subsсribe-description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 2;
  }
  .section-subsсribe-input {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    font-size: 20px;
  }
  .section-subsсribe .button-black {
    margin: 5vw auto;
    float: none;
    display: block;
  }
  .section-tailoring {
    height: auto;
    width: 100%;
    padding: 5vw;
  }
  .section-tailoring-description {
    margin-top: 10px;
    width: 200px;
    font-size: 20px;
    line-height: 1.5;
  }
  .section-contacts {
    margin: 0;
    padding: 5vw;
    display: block;
  }
  .section-contacts-title {
    font-size: 18px;
    line-height: 22px;
    margin: 7px 0;
  }
  .section-contacts-title.phones {
    line-height: 28px;
  }
  .section-contacts-description {
    font-size: 14px;
    line-height: 20px;
  }
  .section-contacts-item {
    width: auto;
    display: block;
    margin-bottom: 5vw;
  }
  .section-social {
    height: 90px;
    margin: 0;
  }
  .section-social .icon {
    padding: 33px;
  }
  .page-title {
    line-height: 55px;
    padding: 36px 5vw;
  }
  .page-title img {
    max-height: 60px;
  }
  .container {
    width: 100vw;
  }
  .breadcrumbs {
    font-size: 14px;
    line-height: 20px;
  }
  .breadcrumbs li {
    margin: 0 10px 0 0;
  }
  .breadcrumbs li .icon {
    height: 16px;
    margin: 4px 0 -4px;
  }
  .breadcrumbs li .icon-slash {
    margin: 0 10px 0 0;
  }
  .main-content > .breadcrumbs:first-child {
    width: auto;
    margin: 10px 20px 0;
  }
  .category-level-1 h2 {
    padding: 50px 0 40px;
  }
  .category-level-1 .button-white {
    padding: 0 35px;
    margin: 30px 0 50px;
  }
  .pseudoslider {
    flex-wrap: wrap;
    width: 100%;
  }
  .pseudoslider .slider-shop-slide {
    width: 47.05882353vw;
    height: 68.23529412vw;
    margin-bottom: 5.88235294vw;
  }
  .pseudoslider .slider-shop-slide-title {
    margin-top: 46.58823529vw;
    font-size: 5.64705882vw;
  }
  .pseudoslider .slider-shop-slide-discount {
    margin-top: 3.05882353vw;
    font-size: 4.23529412vw;
  }
  .sort-options {
    font-size: 4.23529412vw;
    line-height: 6.11764706vw;
    height: 5.64705882vw;
    margin-top: 0;
    margin-bottom: 55px;
    text-align: center;
  }
  .sort-options-label {
    font-size: 4.23529412vw;
    margin-right: 3.29411765vw;
  }
  .sort-options select {
    font-size: 4.23529412vw;
  }
  .wrapper-catalog {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .aside-menu {
    width: 100%;
  }
  .catalog {
    width: 100vw;
    flex-wrap: wrap;
    order: -1;
  }
  .catalog-item {
    width: 47.05882353vw;
    height: 68.23529412vw;
    margin-bottom: 5.88235294vw;
  }
  .catalog-item-title {
    font-size: 5.64705882vw;
    margin: 46.58823529vw 2.35294118vw 0;
  }
  .catalog-item-old-price {
    font-size: 3.29411765vw;
    line-height: 5.17647059vw;
    margin-left: 1.41176471vw;
  }
  .catalog-item-price {
    font-size: 4.23529412vw;
    line-height: 5.17647059vw;
    margin: 2.35294118vw 2.35294118vw;
  }
  .catalog-item-discount {
    font-size: 3.29411765vw;
    line-height: 5.17647059vw;
    margin: -7.52941176vw 1.64705882vw 0 0;
  }
  .aside-menu {
    padding: 5.64705882vw;
  }
  .aside-menu-title {
    font-size: 6.58823529vw;
  }
  .aside-menu-input {
    width: 35.29411765vw;
    margin-right: 5.64705882vw;
    font-size: 5.64705882vw;
  }
  .aside-menu-filter-item {
    margin-top: 5.64705882vw;
  }
  .aside-menu-brand {
    font-size: 6.11764706vw;
    line-height: 6.11764706vw;
    margin: 4.70588235vw 0 0;
  }
  .wrapper-product {
    padding: 30px 0 0;
  }
  .product {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
  }
  .product-title-group {
    margin-top: 0;
    width: 90vw;
  }
  .product-title {
    width: 280px;
    margin: 20px 0 5px;
  }
  .product-description {
    font-size: 18px;
  }
  .product-description:after {
    margin-top: 15px;
  }
  .product .icon {
    height: 22px;
  }
  .product .icon-share {
    margin-top: 25px;
  }
  .product-details {
    width: 90vw;
    padding-left: 0;
    padding-bottom: 30px;
  }
  .product-details-title {
    font-size: 24px;
    margin: 120px 0 0;
  }
  .product-details select {
    height: 40px;
    line-height: 40px;
    font-family: TheanoDidot, serif;
    font-size: 18px;
    margin-top: 30px;
  }
  .product-quantity-label {
    height: 40px;
    font-family: TheanoDidot, serif;
    font-size: 18px;
    margin-top: 30px;
  }
  .product-quantity-input {
    width: 60px;
    line-height: 40px;
    font-size: 28px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .product-quantity-input::-webkit-inner-spin-button,
  .product-quantity-input::-webkit-outer-spin-button {
    height: 40px;
  }
  .product-main {
    margin-bottom: -25px;
  }
  .product-image {
    max-width: 90vw;
    margin: 0 auto;
  }
  .product-image:first-child {
    opacity: 1;
  }
  .product-image-wrapper {
    width: 500px;
    height: 550px;
  }
  .product-image-controls-left,
  .product-image-controls-right {
    margin: 20px 7.05882353vw;
  }
  .product-image-indicators {
    bottom: 20px;
    width: 90%;
    left: 5%;
    margin: 10px 0 5px;
    width: auto;
  }
  .product-image-indicators a {
    padding: 20px 0;
    text-indent: -100vw;
    width: 40px;
    margin: 0 10px;
  }
  .product-image-indicators a {
    max-width: 9.41176471vw;
    margin: 0 1.17647059vw;
  }
  .product-price {
    font-size: 48px;
  }
  .product .button-gold {
    margin: 12px 0 0;
    font-size: 14px;
  }
  .product-old-price,
  .product-dicount {
    position: static;
    font-size: 24px;
  }
  .lb-data .lb-details {
    width: 60%;
  }
  .wrapper-checkout {
    width: 100vw;
  }
  .wrapper-checkout .button-gold {
    width: 190px;
    margin: 20px auto 40px;
  }
  .wrapper-checkout .button-gold:after,
  .wrapper-checkout .button-gold:before {
    left: -490px;
    top: 25px;
    width: 460px;
  }
  .wrapper-checkout .button-gold:after {
    right: -490px;
    left: auto;
  }
  .checkout-head {
    display: none;
  }
  .checkout-content-row {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .checkout-content-row .col {
    width: 40%;
  }
  .checkout-content-row .col:nth-child(2) {
    width: 60%;
  }
  .checkout-content-row .col:nth-child(3),
  .checkout-content-row .col:nth-child(4) {
    width: 50%;
  }
  .checkout-content-row .col:nth-child(5) {
    width: 20%;
  }
  .checkout-content-row .col:nth-child(6) {
    width: 20%;
  }
  .checkout-content-row .col:nth-child(7),
  .checkout-content-row .col:nth-child(8) {
    width: 20%;
  }
  .checkout-content-row .col:nth-child(9) {
    width: 20%;
  }
  .checkout-content-row {
    margin-bottom: 2px;
    width: 100vw;
  }
  .checkout-content-row .col {
    height: 80px;
    padding: 15px 0;
    line-height: 30px;
    font-size: 18px;
  }
  .checkout-content-row .checkout-item-col-image {
    padding: 5px 10px;
  }
  .checkout-content-row .checkout-item-col-title {
    padding: 15px 0;
  }
  .checkout-content-row .checkout-item-col-controls {
    text-align: center;
  }
  .checkout-item-image {
    width: 80px;
    height: 80px;
  }
  .checkout-item-title {
    font-size: 24px;
  }
  .checkout-item-color,
  .checkout-item-size {
    font-size: 18px;
  }
  .checkout-item-quantity {
    width: 40px;
    font-size: 18px;
  }
  .checkout-item-quantity::-webkit-inner-spin-button,
  .checkout-item-quantity::-webkit-outer-spin-button {
    height: 40px;
  }
  .checkout-total-price {
    font-size: 24px;
    margin-top: 30px;
  }
  .checkout-total-save {
    font-size: 14px;
    margin-top: 3px;
  }
  .checkout-explanation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  .checkout-explanation-item {
    max-width: 90vw;
    text-align: center;
    display: block;
    margin: 20px auto;
  }
  .checkout-explanation-arrow {
    display: none;
  }
  .checkout-explanation-icon svg {
    height: 15px;
    margin-bottom: 6px;
  }
  .checkout-explanation-title {
    font-size: 24px;
  }
  .checkout-explanation-description {
    font-size: 18px;
    margin-top: 10px;
  }
  .section-look-inner {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }
  .section-look-inner .section-look-item:nth-child(4n) .section-look-item-image,
  .section-look-inner .section-look-item:nth-child(4n-1) .section-look-item-image {
    float: none;
    order: 0;
  }
  .section-look-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .section-look-item-image {
    width: 100vw;
    height: 100vw;
    display: block;
    float: none;
    margin-bottom: 5vw;
  }
  .section-look-item-text {
    margin: 0 5vw;
    width: auto;
    display: block;
  }
  .section-look-item-title {
    font-size: 24px;
  }
  .section-look-item-description {
    font-size: 18px;
  }
  .section-look-page-number {
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;
    width: 100vw;
  }
  .section-look-inside {
    width: 100vw;
  }
  .section-look-inside-image-main {
    width: 100vw;
    height: 360px;
    background-size: cover;
  }
  .section-look-inside-description {
    max-width: 100vw;
    font-size: 24px;
    margin: 32px 5vw 0;
    padding-bottom: 50px;
  }
  .section-look-inside-heading {
    margin: 50px 0 28px;
    font-size: 24px;
    text-align: center;
  }
  .section-look-inside-item:hover .section-look-inside-item-title {
    color: #9f6f1d;
  }
  .section-look-inside-item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .section-look-inside-item-image {
    width: 100vw;
    height: 340px;
    background-size: cover;
  }
  .section-look-inside-item-title {
    font-size: 24px;
    margin-top: 20px 5vw 60px;
  }
  .contacts-gold:before,
  .contacts-gold:after {
    content: '';
    width: 30vw;
    left: 0;
    top: 12px;
  }
  .contacts-gold:after {
    left: auto;
    right: 0;
  }
  .contacts-gold-heading {
    font-size: 24px;
  }
  .contacts-gold-phone {
    font-size: 48px;
    margin-top: 12px;
  }
  .contacts-gold-phone span {
    font-size: 24px;
  }
  .contacts-gold-description {
    margin: 20px auto 52px;
    max-width: 260px;
    font-size: 18px;
  }
  .contacts-form-wrapper {
    max-width: 90vw;
  }
  .contacts-form-wrapper label {
    display: none;
  }
  .contacts-form-heading {
    max-width: 100vw;
    margin: 36px auto;
    padding-bottom: 36px;
    font-size: 36px;
  }
  .contacts-form .field {
    width: 100%;
    padding: 20px 15px;
  }
  .contacts-form .field-full {
    width: 100%;
  }
  .contacts-form input[type=text],
  .contacts-form input[type=email] {
    font-size: 22px;
  }
  .contacts-form .button-white {
    font-size: 20px;
    margin: 20px auto 40px;
    width: 200px;
  }
  .modal {
    position: static;
  }
  .modal-body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: 0;
    padding: 5vw;
    overflow: scroll;
    z-index: 9999;
  }
  .modal-heading {
    font-size: 36px;
    text-align: center;
  }
  .modal-form {
    margin: 0 -15px;
    overflow: scroll;
  }
  .modal-form .field {
    width: 100%;
    padding: 20px 15px;
  }
  .modal-form label {
    font-size: 16px;
    margin-bottom: -5px;
  }
  .modal-form input + label {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  .modal-form input + label .icon {
    height: 14px;
  }
  .modal-form input:checked + label {
    padding-bottom: 7px;
  }
  .modal-form input[type=text],
  .modal-form input[type=tel],
  .modal-form input[type=email] {
    font-size: 18px;
  }
  .modal-form select {
    margin: 13px 5% 0 0;
    height: 28px;
    font-size: 18px;
  }
  .modal-form .button-white {
    font-size: 14px;
    margin: 20px auto 40px;
  }
  .modal .icon-x {
    right: 2vw;
    top: 2vw;
  }
  .modal-registration .modal-form .field {
    padding: 15px;
  }
  .modal-registration .forgot-password {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    margin: -20px auto 0;
  }
  .modal .wrapperAutorizationForm {
    margin-top: 0;
  }
  .chooseModal {
    margin: 30px 0 10px;
  }
  .chooseModal a {
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px 16px;
  }
  .chooseModal a .chosen {
    padding: 0 0 14px;
  }
  .modal-password .modal-body {
    height: auto;
    margin: 0;
  }
  .modal-password .button-white {
    margin-top: 20px !important;
  }
  .section-brand {
    justify-content: center;
    padding-bottom: 30px;
  }
  .section-brand-item {
    width: auto;
    margin: 30px;
  }
  .section-brand-item > img {
    max-width: 150px;
    max-height: 120px;
  }
  .section-brand-inner-heading {
    margin: 60px 0 19px;
    font-size: 24px;
  }
  .section-brand-inner-img {
    margin: 0 auto 30px;
  }
  .section-brand-inner img {
    max-width: 100%;
  }
  .about-description {
    font-size: 24px;
    max-width: 90vw;
    text-align: center;
    margin: -15px auto 50px;
  }
  .shop {
    font-size: 36px;
    margin: 0 0 30px;
    width: 90vw;
    display: block;
  }
  .shop h2 {
    margin-bottom: 30px;
    width: 100%;
  }
  .shop-img {
    width: 270px;
    height: 340px;
    margin-right: 30px;
    float: left;
  }
  .shop-info-phone {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 30px;
    clear: both;
  }
  .shop-info-address {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .shop-info-shedule {
    font-size: 18px;
    margin-bottom: 15px;
    width: 140px;
  }
  .shop-info-description {
    font-size: 18px;
    margin-bottom: 15px;
    min-width: 100px;
    padding-right: 30px;
  }
  .section-shops {
    flex-wrap: wrap;
  }
  .map {
    margin: 0 -50vw;
    position: relative;
    z-index: 0;
    text-align: center;
  }
  .map img {
    text-align: center;
    width: 100%;
  }
  /*
  .wrapper-slider-video video {
    display: none;
  }

  #slider-video-slide-1,
  #slider-video-slide-2,
  #slider-video-slide-3,
  #slider-video-slide-4 {
    display: none;
  }

  .wrapper-slider-video {
    img {
      position: absolute;
      top: 63px;
      left: 50%;
      margin-left: -240px;
      right: 0;
      height: 450px;
    }
  }

  .video-overlay {
    display: none;
  }
  */
  .section-tailoring-order {
    padding-top: 45px;
    height: auto;
    background-size: auto 61%;
  }
  .section-tailoring-order-heading {
    margin: 48px 10px 30px;
    text-align: center;
    font-size: 10vw;
    width: auto;
  }
  .section-tailoring-order-description {
    margin: 0 15px 25px;
    width: auto;
    font-size: 5vw;
  }
  .section-tailoring-order .button-white {
    width: 190px;
    height: 50px;
  }
  .section-tailoring-order-description-block-1 {
    display: block;
    margin: 35px 0 0;
    width: auto;
    text-align: center;
  }
  .section-tailoring-order-description-block-2 {
    height: auto;
  }
  .section-tailoring-order-description-1 {
    padding: 0;
    font-size: 18px;
    width: auto;
    margin: 0;
    color: #000;
  }
  .section-tailoring-order-image-1 {
    width: auto;
    height: 71vw;
  }
  .section-tailoring-order-description-2 {
    margin: 0;
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }
  .section-tailoring-order-description-2 p {
    width: auto;
    margin: 20px;
    height: auto;
    text-align: center;
  }
  .section-tailoring-order-image-2 {
    background: url(../img/tailoring2.jpg);
    margin: 0;
    background-size: cover;
    width: auto;
    height: 67vw;
  }
  .section-textile {
    margin: 0;
    background: transparent;
  }
  .section-textile h2 {
    padding: 0;
    margin: 20px;
    text-align: center;
  }
  .section-textile-image-1 {
    width: auto;
    height: 74vw;
    margin: 0;
    float: none;
  }
  .section-textile-description-1 {
    width: auto;
    column-count: 1;
    font-size: 18px;
    margin: 0;
  }
  .section-textile-description-1 p {
    margin: 0 20px 20px 20px;
    text-align: center;
  }
  .section-textile-image-2 {
    width: auto;
    height: 60vw;
    margin: 0;
  }
  .section-textile-description-2 {
    margin: 20px;
    text-align: center;
    float: none;
    font-size: 18px;
    width: auto;
  }
  .section-shoes {
    margin: 0;
    height: auto;
    background: transparent;
  }
  .section-shoes h2 {
    margin: 20px;
    text-align: center;
  }
  .section-shoes .light {
    opacity: 0.6;
  }
  .section-shoes-description-1 {
    margin: 20px;
    font-size: 18px;
    width: auto;
    text-align: center;
  }
  .section-shoes-description-1 p:first-child {
    width: auto;
  }
  .section-shoes-image-1 {
    width: auto;
    height: 67vw;
    float: none;
  }
  .section-shoes-description-2 {
    margin: 20px;
    width: auto;
    float: none;
    font-size: 18px;
    text-align: center;
  }
  .section-shoes-image-2 {
    margin: 0;
    width: auto;
    height: 130vw;
    float: none;
  }
  .section-shoes h3 {
    margin: 20px;
    width: auto;
    height: 61px;
    float: none;
    text-align: center;
  }
  .section-shoes-description-3,
  .section-shoes-description-4 {
    float: none;
    font-size: 18px;
    width: auto;
    margin: 20px;
    text-align: center;
  }
  .section-shoes-description-4 {
    width: auto;
    margin: 20px;
    padding: 0;
  }
  .section-shoes-description-4:before {
    display: none;
  }
  .section-materials {
    margin: 0;
    height: auto;
  }
  .section-materials:before {
    display: none;
  }
  .section-materials-image-1 {
    margin: 0;
    width: auto;
    height: 62vw;
    float: none;
  }
  .section-materials-image-2 {
    margin: 0;
    width: auto;
    height: 64vw;
    float: none;
  }
  .section-materials h3 {
    width: auto;
    margin: 20px;
    float: none;
    text-align: center;
  }
  .section-materials-description-1,
  .section-materials-description-2 {
    width: auto;
    margin: 20px;
    float: none;
    font-family: FuturaNewBook, sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .section-materials-description-2 {
    width: auto;
    margin: 20px;
  }
  .section-materials .button-gold {
    height: 50px;
    width: auto;
    padding: 0 50px;
    margin: 0 0 50px;
  }
  .page404 {
    padding: 0 15vw;
    overflow: hidden;
  }
  .page404-bg {
    width: 1200px;
    font-size: 70.58823529vw;
    margin-left: -600px;
    letter-spacing: -20px;
  }
  .page404-heading {
    font-size: 48px;
    padding-top: 25vmin;
    line-height: 1;
  }
  .page404-description {
    font-size: 18px;
    max-width: 350px;
    margin: 13px auto 26px;
    line-height: 1.5;
  }
  .page404 .button-black {
    margin: 0 13px 10px;
  }
  .pagination {
    margin: 2vw;
  }
  .pagination-arrow-left,
  .pagination-arrow-right {
    color: #000;
    font-size: 16px;
    height: 40px;
  }
  .pagination-page {
    font-size: 20px;
    height: 40px;
  }
  .pagination-dots {
    height: 40px;
  }
  .clear-filters {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media all and (max-width: 350px) {
  .menu-shop-second > li > a {
    font-size: 10px;
  }
  .page404-heading {
    font-size: 40px;
  }
}
/*# sourceMappingURL=mobile.css.map */