@font-face {
  font-family: 'FuturaNewMedium';
  src: url('fonts/FuturaNewMedium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'FuturaNewBook';
  src: url('fonts/FuturaNewBook.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewBook.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*
@font-face {
  font-family: 'GFSDidot-Regular';
  src: url('fonts/GFSDidot-Regular.woff') format('woff'), url('fonts/GFSDidot-Regular.ttf') format('truetype');
}
*/

@font-face {
  font-family: 'TheanoDidot';
  src: url('fonts/TheanoDidot.woff') format('woff'), url('fonts/TheanoDidot.ttf') format('truetype');
}

@f1: FuturaNewMedium, sans-serif;
@f2: FuturaNewBook, sans-serif;
@f3: TheanoDidot, serif;

/* Colors */
@gold: #9f6f1d;
@grey: #f1f1f1;
@grey-dark: #8e8e8e;

/* Global hover transition */
.hoverTransition {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}

/* 1440px to wv */
@x: 1px;

@media all and (max-width: 813px) {

  .main-nav.pseudo {
    display: none;
  }

  #top_navigation {
    top: 0;
    height: auto;
  }

  .hamburger, .hamburger-close {
    display: block;
  }

  .main-nav.white {
    display: block;
    position: absolute;
  }

  .main-nav.white .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -15px;
    width: 31px;
    height: 20px;
  }

  body {
    font-size: 14px;
  }

  .icon { //default size for icons
    height: 18*@x;
  }

  h1 {
    font-size: 48*@x;
  }

  h2 {
    font-size: 36*@x;
  }

  h3 {
    font-size: 24*@x;
    line-height: 32*@x;
  }

  .p {
    font-size: 18*@x;
    line-height: 22*@x;
  }

  input {
    height: 30*@x;
    padding-top: 10*@x;
    line-height: 30*@x;
  }

  select {
    font-size: 14*@x;
  }

  .placeholder {
    font-size: 20*@x;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    .placeholder();
  }

  ::-moz-placeholder { /* Firefox 19+ */
    .placeholder();
  }

  :-ms-input-placeholder { /* IE 10+ */
    .placeholder();
  }

  :-moz-placeholder { /* Firefox 18- */
    .placeholder();
  }

  .wrapper-slider-video {
    width: auto;
    overflow: hidden;

    video {
      height: 458px;
      width: auto !important;
      left: 50%;
      position: absolute;
      top: 62px;
      transform: translateX(-50%);
    }
  }

  .wrapper-slider-video * {
    border: 0 !important;
  }

  #slider-video-slide-2,
  #slider-video-slide-3,
  #slider-video-slide-4 {
    display: none;
  }

  #slider-video-slide-1 {
    display: block;
  }

  /* Main header styles */
  .main-header {
    //height: 720*@x;
    max-height: 1000vh;
    height: 450px;
    overflow: visible;

    &.inner {
      height: 63px;
    }
  }

  .main-nav {
    padding: 40*@x 30*@x 40*@x;
    line-height: 40*@x;

    a {
      font-size: 14*@x;

      .icon-chevron {
        margin-bottom: -3*@x;
        margin-left: 3*@x;
        height: 15*@x;
      }

      .icon-cart {
        margin: 3*@x 0 -3*@x;
      }
    }

    &.white {
      top: -80*@x;
      height: 80*@x;
      padding-top: 22*@x;
    }
  }

  .logo {
    width: 61*@x;
    height: 40*@x;
  }

  .hamburger, .hamburger-close {
    position: absolute;
    top: 16px;
    left: 30px;
  }

  .hamburger-close {
    display: none;
  }

  .menu-shop, .menu-pages {
    width: auto;
    text-align: left;
    display: none;

    & > li {
      padding-right: 0;
      display: block;
      text-align: center;
    }
  }

  .menu-shop {
    min-height: 100*@x;
    margin-top: 43px;

    & > li:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .menu-pages {
    & > li {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }

  .menu-shop-second {
    .menu-outlet();
    line-height: 50*@x;
    //height: 50*@x;
    top: 80*@x;
    padding: 0;
    position: static;
    height: auto;
    margin: 0;

    & > li {
      margin: 0;
      padding: 0 20px;

      & > a {
        line-height: 50*@x;
        font-size: 14*@x;
        position: absolute;
        left: 0;
        top: 60*@x;
        width: 25vw;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .1);
        //background: 1px 0 1px 1px;
        white-space: nowrap;
      }

      &:nth-child(2) {
        .menu-shop-third {
          margin-top: 0*@x;
        }

        & > a {
          left: 25vw;
        }
      }

      &:nth-child(3) > a {
        left: 50vw;
      }

      &:nth-child(4) > a {
        left: 75vw;
      }
    }

    & > li.active > a {
      position: absolute;
    }
  }

  .menu-shop-third {
    max-height: 999vh;
    top: auto;
    padding: 60*@x 20*@x 0;
    margin: 48*@x 0 0 -50*@x;
    position: static;
    border: 0;
    width: 100vw;
    box-sizing: border-box;

    ul {
      & > li {
        height: 42*@x;
        width: 100%;

        & > a {
          font-size: 18*@x;
          line-height: 22*@x;
        }
      }
    }

    h5 {
      font-size: 24*@x;
      width: auto;
      margin: 0 0 10*@x;
      cursor: pointer;
      padding: 8*@x 0 0
    }
  }

  .menu-shop-category-wrapper {
    float: none;
    width: auto;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &.wide {
      width: 100%;

      ul {
        columns: 2;
        display: block;
        //height: 30vh;
        //overflow: scroll;
      }
    }

    &.extra-wide {
      width: 100%;

      ul {
        columns: 3;
        display: block;
        //height: 30vh;
        //overflow: scroll;
      }
    }
  }

  .fire-cloud-menu {
    height: 37*@x;

    & > a {
      display: none;
    }
  }

  .cloud-menu {
    display: block;
    position: static;
    line-height: 2;

    li {
      width: 20vw;
    }
  }

  .menu-social, .menu-contacts {
    bottom: 65*@x;

    & > li {
      margin-top: 65*@x;
    }
  }

  .menu-social {
    left: 15*@x;
  }

  .fire-submenu-social {
    &:hover {
      .submenu-social {
        display: block;
      }
    }
  }

  .submenu-social {
    display: none;
    position: absolute;
    background: #ffffff;
    list-style: none;
    margin: -40*@x 0 0 0;
    white-space: nowrap;
    margin-left: 200%;
    padding: 0 0 0 20*@x;
    height: 60*@x;
    line-height: 60*@x;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 1px;
      border: 10*@x solid transparent;
      border-right: 10*@x solid #fff;
      margin: 18*@x 0 0 -40*@x;
    }

    li {
      display: inline-block;
      margin-right: 20*@x;
    }

    a {
      color: #000;
      font-size: 18*@x;
      line-height: 60*@x;
      text-transform: uppercase;

      &:hover {
        color: @gold;
      }
    }
  }

  .menu-contacts {
    right: 15*@x;
  }

  .slide-header {
    height: 150*@x;

    &-h2 {
      font-size: 10vw;
    }

    &-h5 {
      font-size: 14*@x;
      margin: 20*@x 0 0;
    }
  }

  .menu-slides {
    bottom: 20*@x;
    width: 90%;
    left: 5%;

    a {
      padding: 20*@x 0;
      text-indent: -100vw;
      width: 40*@x;
      margin: 0 10*@x;
    }
  }

  /* Content section begin */
  .menu-outlet {
    margin: 60*@x auto;

    & > li {
      margin: 0 70*@x;

      & > a {
        font-size: 18*@x;
      }
    }
  }

  .main-content {
    overflow: hidden;
    position: relative;
    background: rgb(241, 241, 241);
  }

  .main-content .menu-outlet {
    display: flex;
    justify-content: space-around;
    padding: 28*@x 0;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0;

    & > li {
      margin: 0;
      text-align: center;
      flex-wrap: nowrap;

      & > a {
        font-size: 18*@x;
      }
    }
  }

  .heading-outlet {
    //padding-left: 136*@x;
    padding-left: 0;
    width: 100vw;
    position: static;

    &-title {
      font-size: 36*@x;
      margin: 30px 0 0;
      text-align: center;
    }

    &-description {
      width: auto;
      margin: 16px 40px 28px;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
    }

    .button-white {
      display: block;
      margin: 0 auto;
    }
  }

  .button-white {
    width: 130*@x;
    height: 50*@x;
    font-size: 14*@x;
    line-height: 50*@x;
    border-radius: 25*@x;
  }

  .button-black {
    .button-white();
  }

  .button-gold {
    .button-white();
    width: auto;
    padding: 0 50*@x;

    background: @gold;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .wrapper-slider-shop {
    &.cropped {
      //margin-left: 15vw;
      margin-left: 0;
    }

    &.offset {
      position: relative;
      //left: -21.2%;
      //width: 121.2%;
      left: -2%;
      width: 102%;

      .slider-shop {
        //width: 3428px;
        width: 1000px;
        height: 360px*2;
        margin: 0;
      }

      .slider-shop-slides {
        //width: 3428px;
        width: 1000px;
        height: 360px*2;
      }

      .slider-shop-arrow.left, .slider-shop-arrow.right {
        display: none;
      }
    }
  }

  /*jssor slider loading skin spin css*/
  .slider-shop-spinner {
    img {
      width: 38*@x;
      height: auto;
    }
  }

  /*.slider-shop-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    img {
      margin-top: -19*@x;
      position: relative;
      top: 50%;
      width: 38*@x;
      height: 38*@x;
    }
  }

  .slider-shop-spinner img {
    animation-name: slider-shop-spinner;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes slider-shop-spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  */
  .slider-shop {
    //width: 1550px;
    width: 1400px;
    //height: 360px*2;
    height: 360px*2;

    &-arrow {
      &.right, &.left {
        //width: 105*@x*2;
        width: 10*@x;
      }
    }
  }

  .section-outlet {
    //margin-right: -20vw;
    margin-right: -42vw;
  }

  .wrapper-slider-shop.cropped {
    //margin-left: -20vw;
    margin-left: -42vw;
    //margin-right: -20vw;
    margin-right: -42vw;
  }

  .cropped {
    .slider-shop-arrow {
      &.right {
        right: 15vw/2;
        display: none;
      }
    }
  }

  .section-look {
    margin-top: 50*@x;
    background: none;

    &-img-wrapper {
      width: 90vw;
      height: auto;
      margin: 0 5vw;
    }

    &-title {
      margin: 109*@x 0 0;
      width: 1260*@x;
    }

    &-description {
      margin-top: 10*@x;
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
      text-align: center;
      .p();
    }

    &-slider {
      //padding: 0 0 0 135*@x;
      display: none;
    }

    &-slide {
      width: 170*@x + 230*@x;
      padding-right: 50*@x;

      &-img {
        width: 170*@x;
        height: 273*@x;
        margin-right: 30*@x;
      }

      &-title {
        margin: 47*@x 0 0;
      }

      &-description {
        margin-top: 8*@x;
        .p();
      }
    }

    .button-white {
      margin: 20*@x auto;
      display: block;

    }
  }

  .section-brands {
    height: auto;
    padding: 50*@x 5vw;
    flex-wrap: wrap;

    &-brand-wrapper {
      min-width: 80*@x;
      width: 80*@x;
      height: 80*@x;
      text-indent: -100vw;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;

      &:first-child {
        margin-left: 20px;
        margin-right: 20px;
      }

      &:nth-child(4n) {

      }
    }

    &-btn-all {
      .button-white();
      line-height: 20*@x;
      //margin: 20*@x 0 0 60*@x;
      width: 80*@x;
      margin: 20px;

    }
  }

  .section-subsсribe {
    height: auto;
    padding: 5vw;
    width: 100%;

    &-description {
      margin-top: 10*@x;
      font-size: 20px;
      line-height: 2
    }

    &-input {
      margin-top: 30*@x;
      height: 40*@x;
      width: 100%;
      font-size: 20*@x;
    }

    .button-black {
      margin: 5vw auto;
      float: none;
      display: block;
    }
  }

  .section-tailoring {
    height: auto;
    width: 100%;
    padding: 5vw;

    &-description {
      margin-top: 10*@x;
      width: 200*@x;
      font-size: 20*@x;
      line-height: 1.5;
    }
  }

  .section-contacts {
    margin: 0;
    padding: 5vw;
    display: block;

    &-title {
      font-size: 18*@x;
      line-height: 22*@x;
      margin: 7*@x 0;

      &.phones {
        line-height: 28*@x;
      }
    }

    &-description {
      font-size: 14*@x;
      line-height: 20*@x;
    }

    &-item {
      width: auto;
      display: block;
      margin-bottom: 5vw;
    }
  }

  .section-social {
    height: 90*@x;
    margin: 0;

    .icon {
      padding: 33*@x;
    }
  }

  // PAGE Outlet level 1
  .page-title {
    line-height: 55*@x;
    padding: 36*@x 5vw;

    img {
      max-height: 60*@x;
    }
  }

  .container {
    width: 100vw;
  }

  .breadcrumbs {
    font-size: 14*@x;
    line-height: 20*@x;

    li {
      margin: 0 10*@x 0 0;

      .icon {
        height: 16*@x;
        margin: 4*@x 0 -4*@x;
      }

      .icon-slash {
        margin: 0 10*@x 0 0;
      }
    }
  }

  .main-content > .breadcrumbs:first-child {
    width: auto;
    margin: 10px 20px 0;
  }

  .category-level-1 {
    h2 {
      padding: 50*@x 0 40*@x;
    }

    .button-white {
      padding: 0 35*@x;
      margin: 30*@x 0 50*@x;
    }
  }

  @a: 100vw/425;
  .pseudoslider {
    flex-wrap: wrap;
    width: 100%;

    .slider-shop-slide {
      width: 200*@a;
      height: 290*@a;
      margin-bottom: 25*@a;
    }

    .slider-shop-slide-title {
      margin-top: 198*@a;
      font-size: 24*@a;
    }

    .slider-shop-slide-discount {
      margin-top: 13*@a;
      font-size: 18*@a;
    }
  }

  // Page Outlet Catalog
  .sort-options {
    font-size: 18*@a;
    line-height: 26*@a;
    height: 24*@a;
    margin-top: 0;
    margin-bottom: 55*@x;
    text-align: center;

    &-label {
      font-size: 18*@a;
      margin-right: 14*@a;
    }

    select {
      font-size: 18*@a;
    }
  }

  .wrapper-catalog {
    margin-bottom: 30*@x;
    flex-wrap: wrap;
  }

  .aside-menu {
    width: 100%;
  }

  .catalog {
    width: 100vw;
    flex-wrap: wrap;
    order: -1;
  }

  .catalog-item {
    width: 200*@a;
    height: 290*@a;
    margin-bottom: 25*@a;

    &-title {
      font-size: 24*@a;
      margin: 198*@a 10*@a 0;
    }

    &-old-price {
      font-size: 14*@a;
      line-height: 22*@a;
      margin-left: 6*@a;
    }

    &-price {
      font-size: 18*@a;
      line-height: 22*@a;
      margin: 10*@a 10*@a;
    }

    &-discount {
      font-size: 14*@a;
      line-height: 22*@a;
      margin: -32*@a 7*@a 0 0;
    }
  }

  .aside-menu {
    padding: 24*@a;

    &-title {
      font-size: 28*@a;
    }

    &-input {
      width: 150*@a;
      margin-right: 24*@a;
      font-size: 24*@a;
    }

    &-filter-item {
      margin-top: 24*@a;
    }

    &-brand {
      font-size: 26*@a;
      line-height: 26*@a;
      margin: 20*@a 0 0;
    }
  }

  // Page Item Product
  .wrapper-product {
    padding: 30*@x 0 0;
  }

  .product {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;

    &-title-group {
      margin-top: 0;
      width: 90vw;
    }

    &-title {
      width: 280*@x;
      margin: 20*@x 0 5*@x;
    }

    &-description {
      font-size: 18*@x;

      &:after {
        margin-top: 15*@x;
      }
    }

    .icon {
      height: 22*@x;

      &-share {
        margin-top: 25*@x;
      }
    }

    &-details {
      width: 90vw;
      padding-left: 0;
      padding-bottom: 30px;

      &-title {
        font-size: 24*@x;
        margin: 120*@x 0 0;
      }

      select {
        height: 40*@x;
        line-height: 40*@x;
        font-family: @f3;
        font-size: 18*@x;
        margin-top: 30*@x;
      }
    }

    &-quantity {
      &-label {
        height: 40*@x;
        font-family: @f3;
        font-size: 18*@x;
        margin-top: 30*@x;
      }

      &-input {
        width: 60*@x;
        line-height: 40*@x;
        font-size: 28*@x;
        border: 1px solid rgba(0, 0, 0, .1);

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          height: 40*@x;
        }
      }
    }

    &-main {
      margin-bottom: -25*@x;
    }

    &-image {
      max-width: 90vw;
      margin: 0 auto;

      &:first-child {
        opacity: 1;
      }

      &-wrapper {
        width: 500*@x;
        height: 550*@x;
      }
    }

    &-image-controls {
      &-left, &-right {
        margin: 20*@x 30*@a;
      }
    }

    &-image-indicators {
      .menu-slides();
      margin: 10*@x 0 5*@x;
      width: auto;

      a {
        max-width: 40*@a;
        margin: 0 5*@a;
      }
    }

    &-price {
      font-size: 48*@x;
    }

    .button-gold {
      margin: 12*@x 0 0;
      font-size: 14*@x;
    }

    &-old-price, &-dicount {
      position: static;
      font-size: 24*@x;
    }
  }

  .lb-data .lb-details {
    width: 60%;
  }

  // Checkout
  .wrapper-checkout {
    width: 100vw;

    .button-gold {
      width: 190*@x;
      margin: 20*@x auto 40*@x;

      &:after, &:before {
        left: -490*@x;
        top: 25*@x;
        width: 460*@x;
      }

      &:after {
        right: -490*@x;
        left: auto;
      }
    }
  }

  .checkout-head {
    display: none;
  }

  .checkout-content-row {
    justify-content: space-around;
    flex-wrap: wrap;

    .col {
      width: 40%;

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3), &:nth-child(4) {
        width: 50%;
      }

      &:nth-child(5) {
        width: 20%;
      }

      &:nth-child(6) {
        width: 20%;
      }

      &:nth-child(7), &:nth-child(8) {
        width: 20%;
      }

      &:nth-child(9) {
        width: 20%;
      }
    }
  }

  .checkout-content-row {
    margin-bottom: 2*@x;
    width: 100vw;

    .col {
      height: 80*@x;
      padding: 15*@x 0;
      line-height: 30*@x;
      font-size: 18*@x;
    }

    .checkout-item-col {
      &-image {
        padding: 5*@x 10*@x;
      }

      &-title {
        padding: 15*@x 0;
      }

      &-controls {
        text-align: center;
      }
    }
  }

  .checkout-item {
    &-image {
      width: 80*@x;
      height: 80*@x;
    }

    &-title {
      font-size: 24*@x;
    }

    &-color, &-size {
      font-size: 18*@x;
    }

    &-quantity {
      width: 40*@x;
      font-size: 18*@x;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        height: 40*@x;
      }
    }
  }

  .checkout-total {
    &-price {
      font-size: 24*@x;
      margin-top: 30*@x;
    }

    &-save {
      font-size: 14*@x;
      margin-top: 3*@x;
    }
  }

  .checkout-explanation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40*@x;
    align-items: center;
    flex-wrap: wrap;

    &-item {
      max-width: 90vw;
      text-align: center;
      display: block;
      margin: 20px auto;
    }

    &-arrow {
      display: none;
    }

    &-icon svg {
      height: 15*@x;
      margin-bottom: 6*@x;
    }

    &-title {
      font-size: 24*@x;
    }

    &-description {
      font-size: 18*@x;
      margin-top: 10*@x;
    }
  }

  // Page Look
  .section-look {
    &-inner {
      width: 100vw;
      display: flex;
      flex-wrap: wrap;

      .section-look-item:nth-child(4n),
      .section-look-item:nth-child(4n-1) {
        .section-look-item-image {
          float: none;
          order: 0;
        }
      }
    }

    &-item {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 60*@x;

      &-image {
        width: 100vw;
        height: 100vw;
        display: block;
        float: none;
        margin-bottom: 5vw;
      }

      &-text {
        margin: 0 5vw;
        width: auto;
        display: block;
      }

      &-title {
        font-size: 24*@x;
      }

      &-description {
        font-size: 18*@x;
      }
    }

    &-page-number {
      font-size: 24*@x;
      margin-bottom: 60*@x;
      text-align: center;
      width: 100vw;
    }
  }

  // Page Look
  .section-look {
    &-inside {
      width: 100vw;

      &-image-main {
        width: 100vw;
        height: 360*@x;
        background-size: cover;
      }

      &-description {
        max-width: 100vw;
        font-size: 24*@x;
        margin: 32*@x 5vw 0;
        padding-bottom: 50*@x;
      }

      &-heading {
        margin: 50*@x 0 28*@x;
        font-size: 24*@x;
        text-align: center;
      }

      &-item {
        &:hover {
          .section-look-inside-item-title {
            color: @gold;
          }
        }

        &-list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
        }

        &-image {
          width: 100vw;
          height: 340*@x;
          background-size: cover;
        }

        &-title {
          font-size: 24*@x;
          margin-top: 20*@x 5vw 60*@x;
        }
      }
    }
  }

  .contacts-gold {
    &:before, &:after {
      content: '';
      width: 30vw;
      left: 0;
      top: 12*@x;
    }

    &:after {
      left: auto;
      right: 0;
    }

    &-heading {
      font-size: 24*@x;
    }

    &-phone {
      font-size: 48*@x;
      margin-top: 12*@x;

      span {
        font-size: 24*@x;
      }
    }

    &-description {
      margin: 20*@x auto 52*@x;
      max-width: 260*@x;
      font-size: 18*@x;
    }
  }

  .contacts-form {
    &-wrapper {
      max-width: 90vw;

      label {
        display: none;
      }
    }

    &-heading {
      max-width: 100vw;
      margin: 36*@x auto;
      padding-bottom: 36*@x;
      font-size: 36*@x;
    }

    .field {
      width: 100%;
      padding: 20*@x 15*@x;

      &-full {
        width: 100%;
      }
    }

    input[type=text],
    input[type=email] {
      font-size: 22px;
    }

    .button-white {
      font-size: 20*@x;
      margin: 20*@x auto 40*@x;
      width: 200px;
    }
  }

  // Modal Order
  .modal {
    position: static;

    &-body {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: auto;
      margin: 0;
      padding: 5vw;
      overflow: scroll;
      z-index: 9999;
    }

    &-heading {
      font-size: 36*@x;
      text-align: center;
    }

    &-form {
      margin: 0 -15*@x;
      overflow: scroll;

      .field {
        width: 100%;
        padding: 20*@x 15*@x;
      }

      label {
        font-size: 16*@x;
        margin-bottom: -5*@x;
      }

      input + label {
        font-size: 18*@x;
        padding-top: 16*@x;
        padding-bottom: 8*@x;

        .icon {
          height: 14*@x;
        }
      }

      input:checked + label {
        padding-bottom: 7*@x;
      }

      input[type=text],
      input[type=tel],
      input[type=email] {
        font-size: 18*@x;
      }

      select {
        margin: 13*@x 5% 0 0;
        height: 28*@x;
        font-size: 18*@x;
      }

      .button-white {
        font-size: 14*@x;
        margin: 20*@x auto 40*@x;
      }
    }

    .icon-x {
      right: 2vw;
      top: 2vw;
    }

    &-registration {
      .modal-form .field {
        padding: 15*@x;
      }

      .forgot-password {
        height: 22*@x;
        line-height: 22*@x;
        font-size: 18*@x;
        margin: -20*@x auto 0;
      }
    }

    .wrapperAutorizationForm {
      margin-top: 0;
    }
  }

  .chooseModal {
    margin: 30*@x 0 10*@x;

    a {
      font-size: 14*@x;
      line-height: 14*@x;
      padding: 0 10*@x 16*@x;

      .chosen {
        padding: 0 0 14*@x;
      }
    }
  }

  .modal-password {
    .modal-body {
      height: auto;
      margin: 0;
    }

    .button-white {
      margin-top: 20*@x !important;
    }
  }

  //Page brand, brand inner
  .section-brand {
    justify-content: center;
    padding-bottom: 30px;

    &-item {
      width: auto;
      margin: 30*@x;

      & > img {
        max-width: 150*@x;
        max-height: 120*@x;
      }
    }

    &-inner {
      &-heading {
        margin: 60*@x 0 19*@x;
        font-size: 24*@x;
      }

      &-img {
        margin: 0 auto 30*@x;
      }

      img {
        max-width: 100%;
      }
    }
  }

  // page About
  .about {
    &-description {
      font-size: 24*@x;
      max-width: 90vw;
      text-align: center;
      margin: -15*@x auto 50*@x;
    }
  }

  .shop {
    font-size: 36*@x;
    margin: 0 0 30*@x;
    width: 90vw;
    display: block;

    h2 {
      margin-bottom: 30*@x;
      width: 100%;
    }

    &-img {
      width: 270*@x;
      height: 340*@x;
      margin-right: 30*@x;
      float: left;
    }

    &-info {
      &-phone {
        font-size: 24*@x;
        margin-bottom: 15*@x;
        padding-top: 30*@x;
        clear: both;
      }

      &-address {
        font-size: 18*@x;
        margin-bottom: 15*@x;
      }

      &-shedule {
        font-size: 18*@x;
        margin-bottom: 15*@x;
        width: 140*@x;
      }

      &-description {
        font-size: 18*@x;
        margin-bottom: 15*@x;
        min-width: 100*@x;
        padding-right: 30*@x;
      }
    }
  }

  .section-shops {
    flex-wrap: wrap;
  }

  .map {
    margin: 0 -50vw;
    position: relative;
    z-index: 0;
    text-align: center;

    img {
      text-align: center;
      width: 100%;
    }
  }

  /*
  .wrapper-slider-video video {
    display: none;
  }

  #slider-video-slide-1,
  #slider-video-slide-2,
  #slider-video-slide-3,
  #slider-video-slide-4 {
    display: none;
  }

  .wrapper-slider-video {
    img {
      position: absolute;
      top: 63px;
      left: 50%;
      margin-left: -240px;
      right: 0;
      height: 450px;
    }
  }

  .video-overlay {
    display: none;
  }
  */
  // Page Tailoring
  .section-tailoring-order {
    padding-top: 45px;
    height: auto;
    background-size: auto 61%;

    &-heading {
      margin: 48px 10px 30px;
      text-align: center;
      font-size: 10vw;
      width: auto;
    }

    &-description {
      margin: 0 15px 25px;
      width: auto;
      font-size: 5vw;
    }

    .button-white {
      width: 190*@x;
      height: 50*@x;
    }

    &-description-block-1 {
      display: block;
      margin: 35px 0 0;
      width: auto;
      text-align: center;
    }

    &-description-block-2 {
      height: auto;
    }

    &-description-1 {
      padding: 0;
      font-size: 18*@x;
      width: auto;
      margin: 0;
      color: #000;
    }

    &-image-1 {
      width: auto;
      height: 71vw;
    }

    &-description-2 {
      margin: 0;
      display: block;
      font-size: 18*@x;
      line-height: 1.3;

      p {
        width: auto;
        margin: 20px;
        height: auto;
        text-align: center;
      }
    }

    &-image-2 {
      background: url(../img/tailoring2.jpg);
      margin: 0;
      background-size: cover;
      width: auto;
      height: 67vw;
    }
  }

  .section-textile {
    margin: 0;
    background: transparent;

    h2 {
      padding: 0;
      margin: 20px;
      text-align: center;
    }

    &-image-1 {
      width: auto;
      height: 74vw;
      margin: 0;
      float: none;
    }

    &-description-1 {
      width: auto;
      column-count: 1;
      font-size: 18*@x;
      margin: 0;

      p {
        margin: 0 20px 20px 20px;
        text-align: center;
      }
    }

    &-image-2 {
      width: auto;
      height: 60vw;
      margin: 0;
    }

    &-description-2 {
      margin: 20px;
      text-align: center;
      float: none;
      font-size: 18*@x;
      width: auto;
    }
  }

  .section-shoes {
    margin: 0;
    height: auto;
    background: transparent;

    h2 {
      margin: 20px;
      text-align: center;
    }

    .light {
      opacity: .6;
    }

    &-description-1 {
      margin: 20px;
      font-size: 18*@x;
      width: auto;
      text-align: center;

      p:first-child {
        width: auto;
      }
    }

    &-image-1 {
      width: auto;
      height: 67vw;
      float: none;
    }

    &-description-2 {
      margin: 20px;
      width: auto;
      float: none;
      font-size: 18*@x;
      text-align: center;
    }

    &-image-2 {
      margin: 0;
      width: auto;
      height: 130vw;
      float: none;
    }

    h3 {
      margin: 20px;
      width: auto;
      height: 61*@x;
      float: none;
      text-align: center;
    }

    &-description-3,
    &-description-4 {
      float: none;
      font-size: 18*@x;
      width: auto;
      margin: 20px;
      text-align: center;
    }

    &-description-4 {
      width: auto;
      margin: 20px;
      padding: 0;

      &:before {
        display: none;
      }
    }
  }

  .section-materials {
    margin: 0;
    height: auto;

    &:before {
      display: none;
    }

    &-image-1 {
      margin: 0;
      width: auto;
      height: 62vw;
      float: none;
    }

    &-image-2 {
      margin: 0;
      width: auto;
      height: 64vw;
      float: none;
    }

    h3 {
      width: auto;
      margin: 20px;
      float: none;
      text-align: center;
    }

    &-description-1,
    &-description-2 {
      width: auto;
      margin: 20px;
      float: none;
      font-family: @f2;
      font-size: 18*@x;
      text-align: center;
    }

    &-description-2 {
      width: auto;
      margin: 20px;
    }

    .button-gold {
      height: 50*@x;
      width: auto;
      padding: 0 50*@x;
      margin: 0 0 50px;
    }
  }


  // page 404
  .page404 {
    padding: 0 15vw;
    overflow: hidden;

    &-bg {
      width: 1200*@x;
      font-size: 300*@a;
      margin-left: -600*@x;
      letter-spacing: -20*@x;
    }

    &-heading {
      font-size: 48*@x;
      padding-top: 25vmin;
      line-height: 1;
    }

    &-description {
      font-size: 18*@x;
      max-width: 350*@x;
      margin: 13*@x auto 26*@x;
      line-height: 1.5;
    }

    .button-black {
      margin: 0 13*@x 10*@x;
    }
  }

  .pagination {
    margin: 2vw;

    &-arrow-left,
    &-arrow-right {
      color: #000;
      font-size: 16*@x;
      height: 40*@x;
    }

    &-page {
      font-size: 20*@x;
      height: 40*@x;
    }

    &-dots {
      height: 40*@x;
    }
  }

  .clear-filters {
    font-size: 14*@x;
    padding-bottom: 20*@x;
  }
}

@media all and (max-width: 350px) {
  .menu-shop-second {
    & > li {
      & > a {
        font-size: 10px;
      }
    }
  }

  .page404-heading {
    font-size: 40*@x;
  }
}