@font-face {
  font-family: 'FuturaNewMedium';
  src: url('fonts/FuturaNewMedium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewMedium.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'FuturaNewBook';
  src: url('fonts/FuturaNewBook.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewBook.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/*
@font-face {
  font-family: 'GFSDidot-Regular';
  src: url('fonts/GFSDidot-Regular.woff') format('woff'), url('fonts/GFSDidot-Regular.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'TheanoDidot';
  src: url('fonts/TheanoDidot.woff') format('woff'), url('fonts/TheanoDidot.ttf') format('truetype');
}
/* Colors */
/* Global hover transition */
.hoverTransition {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
/* 1440px to wv */
body {
  margin: 0;
  font-size: 0.97222222vw;
  line-height: 1;
  font-weight: 400;
  font-family: FuturaNewMedium, sans-serif;
  background: #f1f1f1;
}
.icon {
  color: #fff;
  height: 1.25vw;
  width: auto;
}
a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
a:hover {
  color: #9f6f1d;
}
a:hover svg {
  color: #9f6f1d;
}
button,
a svg,
.slider-shop-slide-title,
.catalog-item-title {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.slide-hover {
  opacity: 0.85;
}
.slide-hover .slider-shop-slide-title,
.slide-hover .catalog-item-title {
  color: #9f6f1d;
}
h1 {
  font-size: 3.33333333vw;
  line-height: 1;
  font-family: TheanoDidot, serif;
  color: #000;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 2.5vw;
  line-height: 1;
  font-family: TheanoDidot, serif;
  color: #000;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 1.66666667vw;
  line-height: 2.22222222vw;
  font-family: TheanoDidot, serif;
  color: #000;
  font-weight: 400;
  margin: 0;
}
.p {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
input {
  background: transparent;
  border: 0;
  height: 2.08333333vw;
  padding-top: 0.69444444vw;
  line-height: 2.08333333vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
select {
  background: transparent;
  border: 0;
  font-family: FuturaNewMedium, sans-serif;
  font-size: 0.97222222vw;
  text-transform: uppercase;
}
.placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  font-weight: 400;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.6);
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  font-weight: 400;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  font-weight: 400;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.6);
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  font-weight: 400;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.6);
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  font-weight: 400;
}
/* Video elements + controls, init styles*/
.video-overlay {
  position: absolute;
  z-index: 1;
  background: #000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.wrapper-slider-video {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
#slider-video-slide-1 {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
}
.slide-header {
  display: none;
}
.slide-header:first-child {
  display: block;
}
.vjs-big-play-button,
.vjs-control-bar,
.vjs-modal-dialog {
  display: none !important;
}
.main-nav {
  position: relative;
  z-index: 1;
}
.menu-social,
.menu-contacts,
.menu-slides {
  z-index: 1;
}
/* Main header styles */
.main-header {
  background: #000;
  height: 50vw;
  max-height: 75vh;
  overflow: hidden;
  position: relative;
}
.main-header.inner {
  height: 5.55555556vw;
  background: transparent;
}
.main-header.inner #top_navigation {
  top: 0;
}
.main-header ul {
  list-style: none;
}
.main-header.tailoring {
  background: transparent;
  height: 10vw;
}
.hamburger,
.hamburger-close {
  display: none;
}
.main-nav {
  padding: 2.77777778vw 4.16666667vw 2.77777778vw;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  line-height: 2.77777778vw;
}
.main-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.97222222vw;
}
.main-nav a:hover {
  color: #9f6f1d;
}
.main-nav a .icon-chevron {
  margin-bottom: -0.20833333vw;
  margin-left: 0.20833333vw;
  height: 1.04166667vw;
}
.main-nav a .icon-cart {
  margin: 0.20833333vw 0 -0.20833333vw;
}
.main-nav.white {
  background: #fff;
  color: #000;
  position: fixed;
  top: -5.55555556vw;
  left: 0;
  right: 0;
  height: 5.55555556vw;
  padding-top: 1.52777778vw;
  box-sizing: border-box;
  z-index: 4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav.white a,
.main-nav.white .icon {
  color: #000;
}
.main-nav.white a:hover,
.main-nav.white .icon:hover {
  color: #9f6f1d;
}
.main-nav.white a:hover svg,
.main-nav.white .icon:hover svg {
  color: #9f6f1d;
}
.main-nav.white .menu-shop > li.grey,
.main-nav.white .menu-pages > li.grey {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav.white .logo {
  background-image: url(../img/logo_black.png);
}
.logo {
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
  text-indent: -100vw;
  width: 4.23611111vw;
  height: 2.77777778vw;
}
.menu-shop,
.menu-pages {
  flex-grow: 1;
  width: 20.83333333vw;
  margin: 0;
  padding: 0;
}
.menu-shop > li,
.menu-pages > li {
  display: inline-block;
  padding-right: 2.08333333vw;
}
.menu-shop > li.grey,
.menu-pages > li.grey {
  color: rgba(255, 255, 255, 0.6);
}
.menu-shop-second {
  padding: 0;
  margin: 4.16666667vw auto;
  text-align: center;
  position: relative;
  text-align: left;
  line-height: 3.47222222vw;
  height: 3.47222222vw;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 5.55555556vw;
  margin: 0 0 -88px;
  padding: 0 4.16666667vw;
  display: none;
}
.menu-shop-second > li {
  display: inline-block;
  margin: 0 4.86111111vw;
}
.menu-shop-second > li > a {
  font-size: 1.25vw;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.menu-shop-second > li > a > span {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.menu-shop-second > li > a:hover,
.menu-shop-second > li > a:hover > span {
  color: #9f6f1d;
}
.menu-shop-second-third {
  display: none;
  top: 2.08333333vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  background: #fff;
  top: 3.47222222vw;
  padding: 2.77777778vw 4.16666667vw;
  overflow-y: scroll;
  max-height: 65vh;
  max-height: 1000vh;
}
.menu-shop-second-third ul {
  padding: 0;
}
.menu-shop-second-third ul > li {
  width: 50%;
  height: 2.91666667vw;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-shop-second-third ul > li > a {
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
}
.menu-shop-second-third h5 {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  width: 10.41666667vw;
  margin: 0 0 0.69444444vw;
}
.menu-shop-second-third ul {
  list-style: none;
}
.menu-shop-second-third h5,
.menu-shop-second-third li {
  text-align: left;
}
.menu-shop-second > li {
  display: inline-block;
  margin: 0;
  margin-right: 2.77777778vw;
}
.menu-shop-second > li > a {
  line-height: 3.47222222vw;
  font-size: 0.97222222vw;
  display: block;
}
.menu-shop-second > li.active > a {
  color: #9f6f1d;
  border-bottom: 2px solid #9f6f1d;
  position: relative;
  z-index: 4;
}
.menu-shop-third {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  background: #fff;
  top: 3.47222222vw;
  padding: 2.77777778vw 4.16666667vw;
  overflow-y: scroll;
  max-height: 65vh;
}
.menu-shop-third ul {
  padding: 0;
}
.menu-shop-third ul > li {
  width: 50%;
  height: 2.91666667vw;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-shop-third ul > li > a {
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
}
.menu-shop-third h5 {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  width: 10.41666667vw;
  margin: 0 0 0.69444444vw;
}
.main-nav.white .menu-shop-third a {
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}
.main-nav.white .menu-shop-third a:hover {
  color: #9f6f1d;
}
.menu-shop-category-wrapper {
  float: left;
  width: 16%;
}
.menu-shop-category-wrapper.wide {
  width: 32%;
}
.menu-shop-category-wrapper.wide ul {
  columns: 2;
}
.menu-shop-category-wrapper.extra-wide {
  width: 48%;
}
.menu-shop-category-wrapper.extra-wide ul {
  columns: 3;
}
.menu-pages {
  text-align: right;
}
.menu-social,
.menu-contacts {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 4.51388889vw;
}
.menu-social > li,
.menu-contacts > li {
  margin-top: 4.51388889vw;
}
.menu-social {
  left: 4.51388889vw;
}
.fire-submenu-social:hover .submenu-social {
  display: block;
}
.submenu-social {
  display: none;
  position: absolute;
  background: #ffffff;
  list-style: none;
  margin: -2.77777778vw 0 0 0;
  white-space: nowrap;
  margin-left: 200%;
  padding: 0 0 0 1.38888889vw;
  height: 4.16666667vw;
  line-height: 4.16666667vw;
}
.submenu-social:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0.69444444vw solid transparent;
  border-right: 0.69444444vw solid #fff;
  margin: 1.25vw 0 0 -2.77777778vw;
}
.submenu-social li {
  display: inline-block;
  margin-right: 1.38888889vw;
}
.submenu-social a {
  color: #000;
  font-size: 1.25vw;
  line-height: 4.16666667vw;
  text-transform: uppercase;
}
.submenu-social a:hover {
  color: #9f6f1d;
}
.menu-contacts {
  right: 4.51388889vw;
}
.slide-header {
  color: #fff;
  height: 10.41666667vw;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;
}
.slide-header-h2 {
  font-size: 3.33333333vw;
  line-height: 1;
  font-family: TheanoDidot, serif;
  margin: 0;
  color: #fff;
}
.slide-header-h5 {
  font-size: 0.97222222vw;
  line-height: 1;
  font-family: FuturaNewMedium, sans-serif;
  text-transform: uppercase;
  margin: 1.38888889vw 0 0;
}
.menu-slides {
  font-size: 0;
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
  bottom: 1.38888889vw;
}
.menu-slides > li {
  opacity: 0.2;
  display: inline-block;
}
.menu-slides > li.active {
  opacity: 1;
}
.menu-slides a {
  height: 1px;
  padding: 1.38888889vw 0;
  background: #fff;
  overflow: hidden;
  text-indent: -100vw;
  width: 2.77777778vw;
  display: block;
  margin: 0 0.69444444vw;
  background-clip: content-box;
}
.fire-cloud-menu {
  position: relative;
}
.cloud-menu {
  display: none;
  position: absolute;
  height: 4.16666667vw;
  line-height: 1.38888889vw;
  background: #fff;
  list-style: none;
  right: 1.38888889vw;
  top: 4.58333333vw;
  white-space: nowrap;
  padding: 0 1.38888889vw;
}
.cloud-menu:before {
  content: '';
  width: 1px;
  height: 1px;
  border-width: 0.69444444vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -1.38888889vw;
  right: 1.38888889vw;
}
.cloud-menu li {
  display: inline-block;
  padding: 1.38888889vw 0.69444444vw 1.38888889vw;
}
.cloud-menu li .active {
  color: #9f6f1d;
}
/* Content section begin */
.menu-outlet {
  padding: 0;
  margin: 4.16666667vw auto;
  text-align: center;
  position: relative;
}
.menu-outlet > li {
  display: inline-block;
  margin: 0 4.86111111vw;
}
.menu-outlet > li > a {
  font-size: 1.25vw;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.menu-outlet > li > a > span {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.menu-outlet > li > a:hover,
.menu-outlet > li > a:hover > span {
  color: #9f6f1d;
}
.menu-outlet-third {
  display: none;
  top: 2.08333333vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  background: #fff;
  top: 3.47222222vw;
  padding: 2.77777778vw 4.16666667vw;
  overflow-y: scroll;
  max-height: 65vh;
  max-height: 1000vh;
}
.menu-outlet-third ul {
  padding: 0;
}
.menu-outlet-third ul > li {
  width: 50%;
  height: 2.91666667vw;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-outlet-third ul > li > a {
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
}
.menu-outlet-third h5 {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  width: 10.41666667vw;
  margin: 0 0 0.69444444vw;
}
.menu-outlet-third ul {
  list-style: none;
}
.menu-outlet-third h5,
.menu-outlet-third li {
  text-align: left;
}
.main-content .menu-shop-second {
  display: block;
}
.section-outlet {
  position: relative;
  overflow: hidden;
}
.heading-outlet {
  padding-left: 9.44444444vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 30.20833333vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+65,f1f1f1+100&1+0,1+65,0+100 */
  background: -moz-linear-gradient(left, #f1f1f1 0%, #f1f1f1 55%, rgba(241, 241, 241, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1f1f1 0%, #f1f1f1 55%, rgba(241, 241, 241, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 55%, rgba(241, 241, 241, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#00f1f1f1', GradientType=1);
  /* IE6-9 */
}
.heading-outlet-title {
  font-size: 2.5vw;
  line-height: 1;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  margin: 5.20833333vw 0 0;
}
.heading-outlet-description {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  width: 14.23611111vw;
  margin: 1.11111111vw 0 1.94444444vw;
}
.button-white {
  width: 9.02777778vw;
  height: 3.47222222vw;
  font-size: 0.97222222vw;
  text-transform: uppercase;
  line-height: 3.47222222vw;
  text-align: center;
  background: #fff;
  border-radius: 1.73611111vw;
  display: inline-block;
  cursor: pointer;
  color: #000;
}
.button-black {
  width: 9.02777778vw;
  height: 3.47222222vw;
  font-size: 0.97222222vw;
  text-transform: uppercase;
  line-height: 3.47222222vw;
  text-align: center;
  background: #fff;
  border-radius: 1.73611111vw;
  display: inline-block;
  cursor: pointer;
  color: #000;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: FuturaNewMedium, sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
.button-black:hover {
  color: #9f6f1d;
}
.button-gold {
  width: 9.02777778vw;
  height: 3.47222222vw;
  font-size: 0.97222222vw;
  text-transform: uppercase;
  line-height: 3.47222222vw;
  text-align: center;
  background: #fff;
  border-radius: 1.73611111vw;
  display: inline-block;
  cursor: pointer;
  color: #000;
  width: auto;
  padding: 0 3.47222222vw;
  background: #9f6f1d;
  color: #fff;
}
.button-gold:hover {
  color: #fff;
}
.wrapper-slider-shop {
  width: 100%;
}
.wrapper-slider-shop.cropped {
  margin-left: 15vw;
}
.wrapper-slider-shop.offset {
  position: relative;
  left: -21.2%;
  width: 121.2%;
}
.wrapper-slider-shop.offset .slider-shop {
  width: 3428px;
  height: 720px;
  margin: 0;
}
.wrapper-slider-shop.offset .slider-shop-slides {
  width: 3428px;
  height: 720px;
}
/*jssor slider loading skin spin css */
.slider-shop-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.slider-shop-spinner img {
  margin-top: -1.31944444vw;
  position: relative;
  top: 50%;
  width: 2.63888889vw;
}
.slider-shop-spinner img {
  animation-name: slider-shop-spinner;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes slider-shop-spinner {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* */
.slider-shop {
  width: 3000px;
  height: 720px;
  position: relative;
  margin: 0 auto;
  top: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;
}
.slider-shop-slides {
  width: 3000px;
  height: 720px;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  cursor: default;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slider-shop-arrow {
  position: absolute;
  cursor: pointer;
  background: rgba(241, 241, 241, 0.4);
}
.slider-shop-arrow.right,
.slider-shop-arrow.left {
  width: 14.58333333vw;
  height: 100%;
  transform: none !important;
  top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+100&0+0,0.65+100 */
  background: -moz-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1', endColorstr='#a6f1f1f1', GradientType=1);
  /* IE6-9 */
}
.slider-shop-arrow.left {
  -moz-transform: scaleX(-1) !important;
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
}
.slider-shop-slide {
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}
.slider-shop-slide:hover {
  opacity: 0.85;
}
.slider-shop-slide:hover .slider-shop-slide-title,
.slider-shop-slide:hover .catalog-item-title {
  color: #9f6f1d;
}
.slider-shop-slide-title,
.slider-shop-slide-discount {
  transform: perspective(1px);
}
.slider-shop-slide-title {
  font-size: 48px;
  line-height: 1;
  font-family: TheanoDidot, serif;
  color: #000;
  margin-top: 540px;
  display: block;
}
.slider-shop-slide-discount {
  font-size: 36px;
  line-height: 1;
  font-family: FuturaNewMedium, sans-serif;
  color: #9f6f1d;
  margin-top: 26px;
}
.cropped .slider-shop-arrow.right {
  left: auto !important;
  right: 7.5vw;
}
.offset .slider-shop-arrow.right {
  left: auto !important;
  right: 0;
}
.offset .slider-shop-arrow.left {
  right: auto !important;
  left: 12vw !important;
}
.section-look {
  margin-top: 3.47222222vw;
  overflow: hidden;
  padding-bottom: 3.26388889vw;
  background: #f1f1f1 url(../img/bg-look.png) right bottom no-repeat;
  background-position-y: 6.52777778vw;
  background-size: auto 100%;
}
.section-look-img-wrapper {
  width: 62.84722222vw;
  height: 25vw;
  overflow: hidden;
  margin: 0 2.08333333vw 2.08333333vw 1.04166667vw;
  float: left;
}
.section-look-img {
  max-width: 100%;
}
.section-look-title {
  margin: 7.56944444vw 0 0;
  width: 87.5vw;
}
.section-look-description {
  margin-top: 0.69444444vw;
  width: 80.55555556vw;
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
.section-look-slider {
  clear: both;
  padding: 0 0 0 9.375vw;
}
.section-look-slide {
  width: 27.77777778vw;
  float: left;
  padding-right: 3.47222222vw;
  box-sizing: border-box;
}
.section-look-slide-img {
  width: 11.80555556vw;
  height: 18.95833333vw;
  float: left;
  margin-right: 2.08333333vw;
}
.section-look-slide-title {
  margin: 3.26388889vw 0 0;
}
.section-look-slide-description {
  margin-top: 0.55555556vw;
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
.section-look .button-white {
  color: #9f6f1d;
  margin-top: 4.16666667vw;
}
.section-look a:hover .section-look-slide-title,
.section-look a:hover .section-look-title {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
  color: #9f6f1d;
}
.section-brands {
  height: 6.94444444vw;
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 3.47222222vw 0;
  clear: both;
}
.section-brands-brand-wrapper {
  width: 5.55555556vw;
  height: 5.55555556vw;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -100vw;
  overflow: hidden;
  margin: 0 4.16666667vw;
}
.section-brands-brand-wrapper:first-child {
  margin-left: 0;
}
.section-brands-btn-all {
  width: 9.02777778vw;
  height: 3.47222222vw;
  font-size: 0.97222222vw;
  text-transform: uppercase;
  line-height: 3.47222222vw;
  text-align: center;
  background: #fff;
  border-radius: 1.73611111vw;
  display: inline-block;
  cursor: pointer;
  color: #000;
  line-height: 1.38888889vw;
  margin: 1.38888889vw 0 0 4.16666667vw;
  width: 5.55555556vw;
  color: rgba(0, 0, 0, 0.4);
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  background: #000;
}
.section-subsсribe {
  width: 60%;
  height: 20.83333333vw;
  background: #1a1a1a;
  padding: 5.55555556vw 0 0 9.375vw;
  box-sizing: border-box;
  color: #fff;
}
.section-subsсribe-title {
  color: #fff;
}
.section-subsсribe-description {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0.69444444vw;
}
.section-subsсribe-input {
  margin-top: 2.08333333vw;
  height: 2.77777778vw;
  width: 30.55555556vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: TheanoDidot, serif;
  font-size: 1.38888889vw;
}
.section-subsсribe-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e8e8e;
}
.section-subsсribe-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e8e8e;
}
.section-subsсribe-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e8e8e;
}
.section-subsсribe-input:-moz-placeholder {
  /* Firefox 18- */
  color: #8e8e8e;
}
.section-subsсribe .button-black {
  margin: -1.66666667vw 6.59722222vw 0 0;
  float: right;
}
.section-tailoring {
  width: 40%;
  height: 20.83333333vw;
  padding: 4.86111111vw 4.51388889vw;
  box-sizing: border-box;
  background: #0d0d0d url(../img/bg-tailoring.png) right bottom;
  mix-blend-mode: screen;
  background-size: 75%;
  background-repeat: no-repeat;
}
.section-tailoring-title {
  color: #fff;
}
.section-tailoring-description {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.69444444vw;
  color: rgba(255, 255, 255, 0.4);
  width: 13.88888889vw;
}
.section-contacts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 3.47222222vw 6.94444444vw 0;
  padding-bottom: 2.77777778vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.section-contacts-item {
  width: 25%;
  text-align: center;
}
.section-contacts .icon {
  opacity: 0.6;
  display: inline-block;
  margin: 0 auto;
}
.section-contacts-title {
  font-size: 1.25vw;
  color: #fff;
  font-weight: 400;
  font-family: FuturaNewBook, sans-serif;
  text-transform: uppercase;
  display: block;
  line-height: 1.52777778vw;
  margin: 0.48611111vw 0;
}
.section-contacts-title.phones {
  line-height: 1.94444444vw;
}
.section-contacts-title.phones a {
  color: #fff;
}
.section-contacts-title.phones a:hover {
  color: #9f6f1d;
}
.section-contacts-description {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.97222222vw;
  line-height: 1.38888889vw;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.section-contacts-description a {
  color: rgba(255, 255, 255, 0.4);
}
.section-contacts-description a:hover {
  color: #9f6f1d;
}
.section-social {
  width: 100%;
  height: 6.25vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 40.625vw;
}
.section-social .icon {
  color: #fff;
  padding: 2.29166667vw;
  opacity: 0.4;
}
.section-social .icon:hover {
  color: #9f6f1d;
  opacity: 1;
}
.page-title {
  line-height: 3.81944444vw;
  padding: 2.5vw 0;
}
.page-title img {
  max-height: 4.16666667vw;
}
.container {
  width: 81.25vw;
  margin: 0 auto;
}
.breadcrumbs {
  display: block;
  font-size: 0.97222222vw;
  line-height: 1.38888889vw;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0.69444444vw 0 0;
}
.breadcrumbs li a,
.breadcrumbs li .icon {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs li .icon {
  height: 1.11111111vw;
  margin: 0.27777778vw 0 -0.27777778vw;
}
.breadcrumbs li .icon-slash {
  margin: 0 0.69444444vw 0 0;
  display: inline-block;
}
.main-content > .breadcrumbs:first-child {
  width: 81.25vw;
  margin: 0 auto;
  margin-top: 3.125vw;
  margin-bottom: -5.20833333vw;
}
.category-level-1 {
  text-align: center;
}
.category-level-1 h2 {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3.47222222vw 0 2.77777778vw;
}
.category-level-1 .button-white {
  width: auto;
  padding: 0 2.43055556vw;
  margin: 2.08333333vw 0 3.47222222vw;
}
.pseudoslider {
  display: flex;
  justify-content: space-between;
}
.pseudoslider .slider-shop-slide {
  width: 18.75vw;
  height: 25vw;
}
.pseudoslider .slider-shop-slide-title {
  margin-top: 18.75vw;
  font-size: 1.66666667vw;
}
.pseudoslider .slider-shop-slide-discount {
  margin-top: 0.90277778vw;
  font-size: 1.25vw;
}
.sort-options {
  text-align: right;
  white-space: nowrap;
  font-size: 0.97222222vw;
  line-height: 1.38888889vw;
  height: 1.38888889vw;
  margin-top: -5.20833333vw;
  margin-bottom: 3.81944444vw;
  padding: 0;
}
.sort-options-label {
  font-size: 0.97222222vw;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-family: FuturaNewMedium, sans-serif;
  margin-right: 0.69444444vw;
}
.wrapper-catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2.08333333vw;
}
.wrapper-catalog hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5vw 0 1vw;
}
.aside-menu {
  width: 18.75vw;
  background: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
}
.catalog {
  width: 60.41666667vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-item {
  width: 18.75vw;
  height: 25vw;
  margin-bottom: 2.08333333vw;
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
}
.catalog-item:hover {
  opacity: 0.85;
}
.catalog-item:hover .slider-shop-slide-title,
.catalog-item:hover .catalog-item-title {
  color: #9f6f1d;
}
.catalog-item-title {
  font-size: 1.25vw;
  line-height: 1;
  font-family: TheanoDidot, serif;
  color: #000;
  margin: 18.75vw 1.38888889vw 1.38888889vw;
}
.catalog-item-old-price {
  display: inline-block;
  font-size: 0.97222222vw;
  line-height: 1.52777778vw;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  text-decoration: line-through;
  margin-left: 0.41666667vw;
}
.catalog-item-price {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  margin: 0.69444444vw 1.38888889vw;
  color: #9f6f1d;
  text-transform: uppercase;
}
.catalog-item-discount {
  font-size: 0.97222222vw;
  line-height: 1.52777778vw;
  float: right;
  margin: -2.22222222vw 1.38888889vw 0 0;
  font-family: FuturaNewMedium, sans-serif;
  color: rgba(0, 0, 0, 0.4);
}
.aside-menu {
  padding: 1.38888889vw;
}
.aside-menu-title {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  margin: 0;
}
.aside-menu-input {
  width: 6.94444444vw;
  margin-right: 1.73611111vw;
  display: inline-block;
}
.aside-menu-input:last-child {
  margin: 0;
}
.aside-menu-filter-item {
  margin-top: 1.38888889vw;
}
.aside-menu-brands {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside-menu-brand {
  font-size: 1.25vw;
  line-height: 1.52777778vw;
  margin: 1.11111111vw 0 0;
  font-family: FuturaNewBook, sans-serif;
  font-weight: 400;
}
.aside-menu-brand.active > a {
  color: #9f6f1d;
}
.aside-menu-brand > a {
  color: rgba(0, 0, 0, 0.6);
}
.aside-menu-brand > a:hover {
  color: #9f6f1d;
}
.aside-menu-brand .icon,
.aside-menu-brand svg {
  color: #9f6f1d;
  float: right;
}
.wrapper-product {
  background: #fff;
  padding: 2.08333333vw 0 0;
}
.wrapper-product + .category-level-1 h2 {
  border-top: 0;
}
.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.38888889vw;
}
.product-title-group {
  margin-top: 4.86111111vw;
  width: 23.26388889vw;
}
.product-title {
  width: 19.44444444vw;
  text-align: left;
  line-height: 1.2;
  margin: 1.38888889vw 0 0.34722222vw;
}
.product-description {
  font-size: 1.25vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  width: 200px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  margin: 0;
}
.product-description:after {
  content: '';
  display: block;
  width: 140px;
  height: 1px;
  margin-top: 1.04166667vw;
  background: rgba(0, 0, 0, 0.1);
}
.product .icon {
  color: #8e8e8e;
  height: 1.52777778vw;
}
.product .icon-share {
  margin-top: 1.73611111vw;
}
.product-details {
  width: 23.26388889vw;
  padding-left: 8.68055556vw;
  box-sizing: border-box;
}
.product-details-title {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  margin: 8.33333333vw 0 0;
}
.product-details select {
  height: 2.77777778vw;
  line-height: 2.77777778vw;
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: none;
  color: rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-top: 2.08333333vw;
}
.product-quantity-label {
  height: 2.77777778vw;
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 2.08333333vw;
}
.product-quantity-input {
  border: 0;
  width: 4.16666667vw;
  line-height: 2.77777778vw;
  font-family: TheanoDidot, serif;
  font-size: 1.94444444vw;
  text-align: left;
}
.product-quantity-input::-webkit-inner-spin-button,
.product-quantity-input::-webkit-outer-spin-button {
  opacity: 1;
  height: 2.77777778vw;
}
.product-main {
  text-align: center;
  margin-bottom: -1.73611111vw;
  position: relative;
}
.product-image {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -200vw;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}
.product-image:first-child {
  opacity: 1;
}
.product-image-wrapper {
  width: 34.72222222vw;
  height: 38.19444444vw;
  max-height: 55vh;
  margin: 0 auto;
  position: relative;
}
.product-image-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-image-controls > li {
  display: inline-block;
}
.product-image-controls-left,
.product-image-controls-right {
  margin: 1.38888889vw 2.08333333vw;
  vertical-align: top;
}
.product-image-controls-left .icon:hover,
.product-image-controls-right .icon:hover {
  color: #000;
}
.product-image-indicators {
  z-index: 1;
  font-size: 0;
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
  bottom: 1.38888889vw;
  position: static;
  display: inline-block;
  width: auto;
  margin: 0.69444444vw 0 0.34722222vw;
  white-space: nowrap;
}
.product-image-indicators > li {
  opacity: 0.2;
  display: inline-block;
}
.product-image-indicators > li.active {
  opacity: 1;
}
.product-image-indicators a {
  height: 1px;
  padding: 1.38888889vw 0;
  background: #fff;
  overflow: hidden;
  text-indent: -100vw;
  width: 2.77777778vw;
  display: block;
  margin: 0 0.69444444vw;
  background-clip: content-box;
}
.product-image-indicators a {
  background-color: #000;
}
.product-price {
  font-size: 3.33333333vw;
  color: #9f6f1d;
  font-family: TheanoDidot, serif;
  font-weight: 400;
  line-height: 1.2;
}
.product .button-gold {
  margin: 0.83333333vw 0 0;
  font-size: 0.97222222vw;
  font-family: FuturaNewBook, sans-serif;
  font-weight: 400;
}
.product-old-price,
.product-dicount {
  position: absolute;
  left: 2vw;
  bottom: 1vw;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.66666667vw;
  text-transform: uppercase;
}
.product-old-price {
  text-decoration: line-through;
}
.product-dicount {
  left: auto;
  right: 2vw;
}
.wrapper-checkout {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.wrapper-checkout .button-gold {
  width: 13.19444444vw;
  margin: 1.38888889vw auto 2.77777778vw;
  display: block;
  font-family: FuturaNewBook, sans-serif;
  position: relative;
}
.wrapper-checkout .button-gold:after,
.wrapper-checkout .button-gold:before {
  content: '';
  display: block;
  position: absolute;
  left: -34.02777778vw;
  top: 1.73611111vw;
  width: 31.94444444vw;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.wrapper-checkout .button-gold:after {
  right: -34.02777778vw;
  left: auto;
}
.checkout-head,
.checkout-content-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.checkout-head .col,
.checkout-content-row .col {
  width: 10%;
}
.checkout-head .col:nth-child(2),
.checkout-content-row .col:nth-child(2) {
  width: 18%;
}
.checkout-head .col:nth-child(3),
.checkout-content-row .col:nth-child(3),
.checkout-head .col:nth-child(4),
.checkout-content-row .col:nth-child(4) {
  width: 13%;
}
.checkout-head .col:nth-child(5),
.checkout-content-row .col:nth-child(5) {
  text-align: center;
  width: 7%;
}
.checkout-head .col:nth-child(6),
.checkout-content-row .col:nth-child(6) {
  width: 13%;
  text-align: center;
}
.checkout-head .col:nth-child(7),
.checkout-content-row .col:nth-child(7),
.checkout-head .col:nth-child(8),
.checkout-content-row .col:nth-child(8) {
  text-align: center;
}
.checkout-head .col:nth-child(9),
.checkout-content-row .col:nth-child(9) {
  width: 5%;
}
.checkout-head {
  padding-top: 2.77777778vw;
}
.checkout-head .col {
  height: 2.77777778vw;
  line-height: 2.77777778vw;
  white-space: nowrap;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  color: rgba(0, 0, 0, 0.6);
}
.checkout-content-row {
  background-color: #fff;
  padding: 0;
  margin-bottom: 0.13888889vw;
}
.checkout-content-row .col {
  height: 8.33333333vw;
  padding: 3.125vw 0;
  box-sizing: border-box;
  line-height: 2.08333333vw;
  white-space: nowrap;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  color: #000;
}
.checkout-content-row .checkout-item-col-image {
  padding: 1.38888889vw 0.69444444vw;
}
.checkout-content-row .checkout-item-col-title {
  padding: 2.43055556vw 0;
}
.checkout-content-row .checkout-item-col-old-price {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.checkout-content-row .checkout-item-col-save {
  color: rgba(0, 0, 0, 0.4);
}
.checkout-content-row .checkout-item-col-price {
  color: #9f6f1d;
}
.checkout-content-row .checkout-item-col-controls {
  opacity: 0.4;
}
.checkout-content-row .checkout-item-col-controls:hover {
  opacity: 1;
}
.checkout-content-row .checkout-item-col-controls svg {
  color: #000;
}
.checkout-item-image {
  width: 5.55555556vw;
  height: 5.55555556vw;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.checkout-item-title {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  color: #000;
}
.checkout-item-brand {
  color: rgba(0, 0, 0, 0.6);
}
.checkout-item-color,
.checkout-item-size {
  text-transform: none;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
}
.checkout-item-quantity {
  border-bottom: 0;
  width: 2.77777778vw;
  font-size: 1.25vw;
  margin: 0 auto;
  padding: 0;
  display: block;
}
.checkout-item-quantity::-webkit-inner-spin-button,
.checkout-item-quantity::-webkit-outer-spin-button {
  opacity: 1;
  height: 2.77777778vw;
}
.checkout-total-price {
  font-size: 1.66666667vw;
  color: #9f6f1d;
  text-align: center;
  margin-top: 2.08333333vw;
}
.checkout-total-save {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 0.97222222vw;
  margin-top: 0.20833333vw;
}
.checkout-explanation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.77777778vw;
  align-items: center;
}
.checkout-explanation-item {
  max-width: 18.05555556vw;
  text-align: center;
}
.checkout-explanation-arrow {
  color: rgba(0, 0, 0, 0.4);
}
.checkout-explanation-icon svg {
  color: rgba(0, 0, 0, 0.6);
  height: 1.04166667vw;
  margin-bottom: 0.41666667vw;
}
.checkout-explanation-title {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
}
.checkout-explanation-description {
  font-size: 1.25vw;
  font-family: FuturaNewBook, sans-serif;
  margin-top: 0.69444444vw;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.4);
}
.section-look-inner {
  display: flex;
  flex-wrap: wrap;
}
.section-look-inner .section-look-item:nth-child(4n) .section-look-item-image,
.section-look-inner .section-look-item:nth-child(4n-1) .section-look-item-image {
  float: right;
  order: 2;
}
.section-look-item {
  display: flex;
  width: 50%;
  align-items: center;
  margin-bottom: 4.16666667vw;
}
.section-look-item:hover .section-look-item-title {
  color: #9f6f1d;
}
.section-look-item-image {
  width: 25.69444444vw;
  height: 23.61111111vw;
  float: left;
  background-size: cover;
}
.section-look-item-text {
  margin: 0 2.08333333vw;
  width: 11.80555556vw;
}
.section-look-item-title {
  font-size: 1.66666667vw;
  line-height: 1.2;
  margin-bottom: 0.55555556vw;
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.section-look-item-description {
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.4);
}
.section-look-page-number {
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  margin-bottom: 4.16666667vw;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.section-look-inside-image-main {
  width: 81.25vw;
  height: 25vw;
  background-size: cover;
}
.section-look-inside-description {
  max-width: 39.58333333vw;
  font-size: 1.66666667vw;
  font-family: FuturaNewBook, sans-serif;
  margin: 2.22222222vw auto 0;
  padding-bottom: 3.47222222vw;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 1.3;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.section-look-inside-heading {
  margin: 3.47222222vw 0 1.94444444vw;
  font-size: 1.66666667vw;
  text-align: center;
}
.section-look-inside-item:hover .section-look-inside-item-title {
  color: #9f6f1d;
}
.section-look-inside-item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.section-look-inside-item-image {
  width: 25.69444444vw;
  height: 23.61111111vw;
  background-size: cover;
}
.section-look-inside-item-title {
  font-size: 1.66666667vw;
  margin-top: 1.38888889vw;
  margin-bottom: 4.16666667vw;
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}
.contacts-gold {
  position: relative;
  text-align: center;
}
.contacts-gold:before,
.contacts-gold:after {
  content: '';
  width: 25.69444444vw;
  left: 0;
  height: 1px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0.83333333vw;
}
.contacts-gold:after {
  left: auto;
  right: 0;
}
.contacts-gold-heading {
  font-size: 1.66666667vw;
  color: #9f6f1d;
}
.contacts-gold-phone {
  font-family: TheanoDidot, serif;
  font-size: 3.33333333vw;
  margin-top: 0.83333333vw;
  line-height: 1.3;
}
.contacts-gold-phone a {
  color: #9f6f1d;
}
.contacts-gold-phone span {
  font-size: 1.66666667vw;
}
.contacts-gold-description {
  margin: 1.38888889vw auto 3.61111111vw;
  max-width: 18.05555556vw;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3;
}
.contacts-form {
  overflow: hidden;
  background: #f8f8f8;
}
.contacts-form-wrapper {
  max-width: 41.66666667vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.contacts-form-heading {
  max-width: 49.30555556vw;
  margin: 2.5vw auto;
  padding-bottom: 2.5vw;
  text-align: center;
  font-size: 2.5vw;
  line-height: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contacts-form .field {
  width: 50%;
  box-sizing: border-box;
  padding: 1.38888889vw 1.04166667vw;
  position: relative;
}
.contacts-form .field-full {
  width: 100%;
}
.contacts-form .field label[for=contactEmail] {
  font-family: TheanoDidot, serif;
  color: rgba(0, 0, 0, 0.4);
  margin: -0.69444444vw 0 0;
  position: absolute;
}
.contacts-form .field .error {
  color: red;
  font-family: TheanoDidot, serif;
  position: absolute;
  bottom: -0.69444444vw;
}
.contacts-form input[type=text],
.contacts-form input[type=password],
.contacts-form input[type=email] {
  width: 100%;
  color: #000;
  font-size: 1.25vw;
  font-family: TheanoDidot, serif;
}
.contacts-form .button-white {
  font-size: 0.97222222vw;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: FuturaNewMedium, sans-serif;
  margin: 1.38888889vw auto 2.77777778vw;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.modal-body {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 31.94444444vw;
  width: 53.47222222vw;
  margin: -15.97222222vw 0 0 -26.73611111vw;
  padding: 2.5vw 6.94444444vw;
  box-sizing: border-box;
  overflow: hidden;
  background: #f8f8f8;
}
.modal-heading {
  font-size: 2.5vw;
  text-align: center;
}
.modal-form {
  margin: 0 -1.04166667vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.modal-form .field {
  width: 50%;
  box-sizing: border-box;
  padding: 1.38888889vw 1.04166667vw;
  position: relative;
}
.modal-form .field .error {
  color: red;
  font-family: TheanoDidot, serif;
  position: absolute;
  bottom: -0.34722222vw;
}
.modal-form label {
  font-size: 1.11111111vw;
  line-height: 1;
  margin-bottom: -0.34722222vw;
  font-family: TheanoDidot, serif;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  cursor: pointer;
}
.modal-form input[type=radio] {
  display: none;
}
.modal-form input + label {
  float: left;
  width: 50%;
  font-size: 1.25vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 1.11111111vw;
  padding-bottom: 0.55555556vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-form input + label .icon {
  height: 0.97222222vw;
  color: rgba(0, 0, 0, 0.2);
}
.modal-form input:checked + label {
  color: #9f6f1d;
  padding-bottom: 0.48611111vw;
  border-bottom: 2px solid #9f6f1d;
}
.modal-form input:checked + label .icon {
  color: #9f6f1d;
}
.modal-form .radio-3 input + label {
  width: 33%;
}
.modal-form input[type=text],
.modal-form input[type=tel],
.modal-form input[type=password],
.modal-form input[type=email] {
  width: 100%;
  color: #000;
  font-size: 1.25vw;
  font-family: TheanoDidot, serif;
}
.modal-form select {
  width: 28%;
  margin: 0.90277778vw 5% 0 0;
  height: 1.94444444vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  text-transform: none;
  font-family: TheanoDidot, serif;
  font-size: 1.25vw;
}
.modal-form select:focus {
  color: #9f6f1d;
  outline: 0;
}
.modal-form .button-white {
  font-size: 0.97222222vw;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: FuturaNewMedium, sans-serif;
  margin: 1.38888889vw auto 2.77777778vw;
}
.modal-form .button-white.wide {
  width: auto !important;
  min-width: 10.41666667vw;
  padding: 0 1.38888889vw;
}
.modal .icon-x {
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 44px;
  top: 44px;
}
.modal p {
  font-size: 1.66666667vw;
  font-family: FuturaNewBook, sans-serif;
  line-height: 1.3;
}
.modal .button-white {
  padding: 0;
}
.modal .center {
  margin: 0 auto;
  display: block;
}
.modal-registration .modal-form .field {
  padding: 1.04166667vw;
}
.modal-registration .forgot-password {
  color: #9f6f1d;
  width: 100%;
  height: 1.52777778vw;
  line-height: 1.52777778vw;
  font-size: 1.25vw;
  margin: -1.38888889vw auto 0;
  font-weight: 400;
  text-align: center;
}
.modal-registration .forgot-password a {
  color: #9f6f1d;
}
.modal-registration .forgot-password a:hover {
  text-decoration: underline;
}
.modal .wrapperAutorizationForm {
  margin-top: 3.47222222vw;
}
.modal .wrapperChooseForms {
  position: relative;
}
.modal .wrapperAutorizationForm,
.modal .wrapperRegistrationForm {
  position: absolute;
}
.chooseModal {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2.08333333vw 0 0.69444444vw;
}
.chooseModal a {
  color: #000;
  text-transform: uppercase;
  font-size: 0.97222222vw;
  line-height: 0.97222222vw;
  padding: 0 0.69444444vw 1.11111111vw;
  width: 50%;
  display: block;
}
.chooseModal a:first-child {
  text-align: right;
}
.chooseModal a:last-child {
  text-align: left;
}
.chooseModal a .chosen {
  border-bottom: 2px solid #9f6f1d;
  color: #9f6f1d;
  padding: 0 0 0.97222222vw;
}
.modal-password .modal-body {
  height: 18.05555556vw;
  margin-top: -9.02777778vw;
}
.modal-password .button-white {
  margin-top: 1.38888889vw !important;
}
.section-brand {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.section-brand-item {
  width: 16.66666667%;
  margin: 2.08333333vw 0;
  box-sizing: border-box;
  text-align: center;
}
.section-brand-item > img {
  max-width: 10.41666667vw;
  max-height: 8.33333333vw;
}
.section-brand-inner {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}
.section-brand-inner-heading {
  margin: 4.16666667vw 0 1.31944444vw;
  font-size: 1.66666667vw;
  line-height: 1.5;
  font-family: TheanoDidot, serif;
  color: rgba(0, 0, 0, 0.8);
}
.section-brand-inner-img {
  margin: 0 auto 2.08333333vw;
}
.about-description {
  font-size: 1.66666667vw;
  font-family: FuturaNewBook, sans-serif;
  max-width: 48.61111111vw;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: -1.04166667vw auto 3.47222222vw;
}
.shop {
  font-size: 2.5vw;
  margin: 0 0 2.08333333vw;
  width: 50%;
  display: inline-block;
}
.shop h2 {
  margin-bottom: 2.08333333vw;
  width: 100%;
}
.shop-img {
  width: 18.75vw;
  height: 23.61111111vw;
  margin-right: 2.08333333vw;
  float: left;
}
.shop-info {
  display: block;
}
.shop-info-phone {
  color: #9f6f1d;
  font-size: 1.66666667vw;
  font-family: TheanoDidot, serif;
  line-height: 1.2;
  margin-bottom: 1.04166667vw;
}
.shop-info-phone a {
  color: #9f6f1d;
}
.shop-info-address {
  font-size: 1.25vw;
  margin-bottom: 1.04166667vw;
  font-family: FuturaNewBook, sans-serif;
  line-height: 1.5;
}
.shop-info-address a {
  color: #000;
}
.shop-info-address a:hover {
  color: #9f6f1d;
}
.shop-info-shedule {
  font-family: FuturaNewBook, sans-serif;
  line-height: 1.5;
  font-size: 1.25vw;
  margin-bottom: 1.04166667vw;
  float: left;
  width: 9.72222222vw;
  color: rgba(0, 0, 0, 0.4);
}
.shop-info-shedule.full {
  float: none;
  width: auto;
}
.shop-info-description {
  font-family: FuturaNewBook, sans-serif;
  line-height: 1.5;
  font-size: 1.25vw;
  margin-bottom: 1.04166667vw;
  color: rgba(0, 0, 0, 0.4);
  min-width: 20.83333333vw;
  padding-right: 2.08333333vw;
}
.section-shops {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}
.map {
  margin: -10.41666667vw 0 0;
  position: relative;
  z-index: 0;
}
.map img {
  text-align: center;
  width: 100%;
}
.section-tailoring-order {
  background: url(../img/bg-tailoring.jpg) center top no-repeat;
  background-size: auto 85%;
  margin-top: -10vw;
  padding-top: 11.18055556vw;
  box-sizing: border-box;
}
.section-tailoring-order-heading {
  width: 50.69444444vw;
  font-size: 3.33333333vw;
  line-height: 1.2;
  color: #fff;
  margin: 0 auto 2.08333333vw;
}
.section-tailoring-order-description {
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
  width: 41.66666667vw;
  margin: 0 auto 2.08333333vw;
  font-family: TheanoDidot, serif;
  opacity: 0.8;
  text-align: center;
}
.section-tailoring-order .button-white {
  width: 13.19444444vw;
  height: 3.47222222vw;
  margin: 0 auto;
  color: #9f6f1d;
  display: block;
}
.section-tailoring-order-description-block-1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12.29166667vw;
  width: 100%;
}
.section-tailoring-order-description-1 {
  padding: 5.13888889vw 19.09722222vw 5.13888889vw 6.94444444vw;
  color: #fff;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
.section-tailoring-order-description-1:before {
  content: '';
  width: 11.875vw;
  height: 0.13888889vw;
  opacity: 0.2;
  background: #fff;
  position: absolute;
  top: 0;
  left: 6.94444444vw;
}
.section-tailoring-order-image-1 {
  background: url(../img/tailoring1.jpg);
  background-size: cover;
  width: 50%;
  height: 35.34722222vw;
}
.section-tailoring-order-description-block-2 {
  width: 100%;
  background: #f1f1f1;
  height: 56.66666667vw;
  background: url(../img/bg-tailoring1.png) no-repeat 2.77777778vw 14.58333333vw;
  background-size: 25.69444444vw 47.63888889vw;
}
.section-tailoring-order-description-2 {
  margin-left: 37.29166667vw;
  margin-top: 3.33333333vw;
  display: flex;
  color: #000;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
}
.section-tailoring-order-description-2 p {
  width: 23.61111111vw;
  height: 6.94444444vw;
  margin-right: 4.09722222vw;
  margin-bottom: 10.27777778vw;
}
.section-tailoring-order-image-2 {
  background: url(../img/tailoring2.jpg);
  margin-left: 37.29166667vw;
  background-size: cover;
  width: 53.47222222vw;
  height: 36.11111111vw;
  position: relative;
  margin-top: -17.70833333vw;
}
.section-textile {
  margin-right: 9.375vw;
  background: #fff url(../img/bg-tailoring2.png) no-repeat 0 360px;
  background-size: 15.06944444vw 28.47222222vw;
  padding-bottom: 5.55555556vw;
}
.section-textile h2 {
  padding: 5.55555556vw 9.375vw 2.08333333vw;
}
.section-textile-image-1 {
  width: 48.95833333vw;
  height: 36.11111111vw;
  background: url(../img/tailoring3.jpg) no-repeat;
  background-size: 100%;
  margin-top: 5.55555556vw;
  float: right;
  margin-right: -9.375vw;
}
.section-textile-description-1 {
  width: 36.80555556vw;
  column-count: 2;
  column-gap: 4.86111111vw;
  margin-bottom: 6.38888889vw;
  margin-left: 9.375vw;
  color: #000;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
}
.section-textile-description-1 p {
  margin: 0;
}
.section-textile-image-2 {
  width: 39.58333333vw;
  height: 23.61111111vw;
  margin-left: 16.31944444vw;
  background: url(../img/tailoring4.jpg) no-repeat;
  background-size: 100%;
}
.section-textile-description-2 {
  margin-top: -10.41666667vw;
  margin-bottom: 5.55555556vw;
  float: right;
  margin-right: 9.02777778vw;
  color: #000;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
  width: 18.75vw;
}
.section-shoes {
  margin: 11.11111111vw 0 1.38888889vw 0;
  background: #f1f1f1 url(../img/bg-tailoring3.png) no-repeat right top;
  background-blend-mode: multiply;
  background-size: 45.48611111vw 37.5vw;
  min-height: 48.61111111vw;
}
.section-shoes h2 {
  margin-left: 9.375vw;
}
.section-shoes .light {
  opacity: 0.6;
}
.section-shoes-description-1 {
  margin-left: 9.375vw;
  margin-bottom: 5.76388889vw;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
  width: 40.625vw;
}
.section-shoes-description-1 p:first-child {
  width: 34.72222222vw;
}
.section-shoes-image-1 {
  width: 48.95833333vw;
  height: 32.63888889vw;
  background: url(../img/tailoring5.jpg) no-repeat;
  background-size: 100%;
  float: left;
}
.section-shoes-description-2 {
  margin-right: 21.38888889vw;
  margin-top: 5.34722222vw;
  width: 20.625vw;
  float: right;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
}
.section-shoes-image-2 {
  margin-top: -11.80555556vw;
  margin-right: 16.31944444vw;
  width: 39.58333333vw;
  height: 51.38888889vw;
  float: right;
  background: url(../img/tailoring6.jpg) no-repeat;
  background-size: 100%;
}
.section-shoes h3 {
  margin-top: 4.65277778vw;
  width: 18.33333333vw;
  height: 4.23611111vw;
  margin-left: 9.375vw;
  float: left;
}
.section-shoes-description-3,
.section-shoes-description-4 {
  float: left;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
  opacity: 0.6;
  width: 28.47222222vw;
  margin-left: 9.375vw;
}
.section-shoes-description-4 {
  opacity: 1;
  width: 23.61111111vw;
  margin-left: 16.31944444vw;
  position: relative;
  padding-bottom: 5.27777778vw;
}
.section-shoes-description-4:before {
  content: '';
  position: absolute;
  width: 2px;
  background: #000;
  opacity: 0.1;
  top: 1.73611111vw;
  left: -6.94444444vw;
  bottom: 0;
}
.section-materials {
  background: #fff;
  clear: both;
  margin-right: 9.375vw;
  height: 51.25vw;
  margin-bottom: 9.72222222vw;
  position: relative;
}
.section-materials:before {
  content: '';
  position: absolute;
  top: 0;
  left: 9.375vw;
  height: 20.83333333vw;
  width: 2px;
  background: #000;
  opacity: 0.1;
}
.section-materials-image-1 {
  margin-top: 5.55555556vw;
  margin-left: 16.31944444vw;
  width: 39.58333333vw;
  height: 24.30555556vw;
  background: url(../img/tailoring7.jpg) no-repeat;
  background-size: 100%;
  float: left;
  position: relative;
  z-index: 2;
}
.section-materials-image-2 {
  margin-top: -5.55555556vw;
  width: 48.88888889vw;
  height: 31.25vw;
  background: url(../img/tailoring8.jpg) no-repeat;
  background-size: 100%;
  float: left;
  margin-bottom: -5.55555556vw;
}
.section-materials h3 {
  width: 18.75vw;
  margin-right: 6.94444444vw;
  margin-top: 5.48611111vw;
  margin-bottom: 0.76388889vw;
  float: right;
}
.section-materials-description-1,
.section-materials-description-2 {
  width: 20.90277778vw;
  margin-right: 4.86111111vw;
  float: right;
  font-family: FuturaNewBook, sans-serif;
  font-size: 1.25vw;
  line-height: 1.3;
}
.section-materials-description-2 {
  width: 20.90277778vw;
  margin-right: 11.80555556vw;
}
.section-materials .button-gold {
  width: auto;
  padding: 0 3.47222222vw;
  height: 3.47222222vw;
  margin-top: 3.33333333vw;
}
.page404 {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.page404-bg {
  width: 83.33333333vw;
  font-size: 600px;
  font-family: FuturaNewBook, sans-serif;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -41.66666667vw;
  letter-spacing: -1.38888889vw;
}
.page404-heading {
  font-size: 3.33333333vw;
  line-height: 1.5;
  color: #fff;
  font-family: TheanoDidot, serif;
  padding-top: 180px;
}
.page404-description {
  font-size: 1.25vw;
  color: rgba(255, 255, 255, 0.4);
  max-width: 24.30555556vw;
  font-weight: 400;
  font-family: FuturaNewBook, sans-serif;
  margin: 0.90277778vw auto 1.80555556vw;
  line-height: 1.5;
}
.page404 .button-black {
  margin: 0 0.90277778vw;
}
.pagination {
  clear: both;
  color: #000;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 2vw;
}
.pagination-arrow-left,
.pagination-arrow-right {
  color: #000;
  font-size: 1.11111111vw;
  width: 15%;
  display: block;
  height: 2.77777778vw;
  text-align: left;
}
.pagination-arrow-left svg,
.pagination-arrow-right svg {
  color: #000;
}
.pagination-arrow-right {
  text-align: right;
}
.pagination-page {
  color: #000;
  font-size: 1.38888889vw;
  height: 2.77777778vw;
  min-width: 3vw;
}
.pagination-page.active {
  border-bottom: 2px solid #9f6f1d;
}
.pagination-dots {
  height: 2.77777778vw;
}
.clear-filters {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.97222222vw;
  text-transform: uppercase;
  display: block;
  line-height: 1.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.38888889vw;
}
.clear-filters .icon,
.clear-filters svg {
  color: rgba(0, 0, 0, 0.6);
  float: right;
}
.clear-filters:hover .icon,
.clear-filters:hover svg {
  color: #9f6f1d;
}
/*# sourceMappingURL=style.css.map */