@font-face {
  font-family: 'FuturaNewMedium';
  src: url('fonts/FuturaNewMedium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewMedium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'FuturaNewBook';
  src: url('fonts/FuturaNewBook.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('fonts/FuturaNewBook.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*
@font-face {
  font-family: 'GFSDidot-Regular';
  src: url('fonts/GFSDidot-Regular.woff') format('woff'), url('fonts/GFSDidot-Regular.ttf') format('truetype');
}
*/

@font-face {
  font-family: 'TheanoDidot';
  src: url('fonts/TheanoDidot.woff') format('woff'), url('fonts/TheanoDidot.ttf') format('truetype');
}

@f1: FuturaNewMedium, sans-serif;
@f2: FuturaNewBook, sans-serif;
@f3: TheanoDidot, serif;

/* Colors */
@gold: #9f6f1d;
@grey: #f1f1f1;
@grey-dark: #8e8e8e;

/* Global hover transition */
.hoverTransition {
  -webkit-transition: color 0.3s ease-out, opacity 0.3s ease-out;
  transition: color 0.3s ease-out, opacity 0.3s ease-out;
}

/* 1440px to wv */
@x: 100vw/1440;

body {
  margin: 0;
  font-size: 14*@x;
  line-height: 1;
  font-weight: 400;
  font-family: @f1;
  background: @grey;
}

.icon { //default size for icons
  color: #fff;
  height: 18*@x;
  width: auto;
}

a {
  text-decoration: none;
  .hoverTransition();

  &:hover {
    color: @gold;
  }

  &:hover svg {
    color: @gold;
  }
}

button,
a svg,
.slider-shop-slide-title,
.catalog-item-title {
  .hoverTransition();
}

.slide-hover {
  opacity: .85;

  .slider-shop-slide-title, .catalog-item-title {
    color: @gold;
  }
}

h1 {
  font-size: 48*@x;
  line-height: 1;
  font-family: @f3;
  color: #000;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 36*@x;
  line-height: 1;
  font-family: @f3;
  color: #000;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 24*@x;
  line-height: 32*@x;
  font-family: @f3;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.p {
  font-size: 18*@x;
  line-height: 22*@x;
  font-family: @f2;
  color: rgba(0, 0, 0, .4);
}

input {
  background: transparent;
  border: 0;
  height: 30*@x;
  padding-top: 10*@x;
  line-height: 30*@x;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

select {
  background: transparent;
  border: 0;
  font-family: @f1;
  font-size: 14*@x;
  text-transform: uppercase;
}

.placeholder {
  color: rgba(0, 0, 0, .6);
  font-family: @f3;
  font-size: 18*@x;
  font-weight: 400;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  .placeholder();
}

::-moz-placeholder { /* Firefox 19+ */
  .placeholder();
}

:-ms-input-placeholder { /* IE 10+ */
  .placeholder();
}

:-moz-placeholder { /* Firefox 18- */
  .placeholder();
}

/* Video elements + controls, init styles*/

.video-overlay {
  position: absolute;
  z-index: 1;
  background: #000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wrapper-slider-video {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#slider-video-slide-1 {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
}

.slide-header {
  display: none;

  &:first-child {
    display: block;
  }
}

.vjs-big-play-button,
.vjs-control-bar,
.vjs-modal-dialog {
  display: none !important;
}

.main-nav {
  position: relative;
  z-index: 1;
}

.menu-social, .menu-contacts, .menu-slides {
  z-index: 1;
}

/* Main header styles */

.main-header {
  background: #000;
  height: 720*@x;
  max-height: 75vh;
  overflow: hidden;
  position: relative;

  &.inner {
    height: 80*@x;
    background: transparent;

    #top_navigation {
      top: 0;
    }
  }

  ul {
    list-style: none;
  }

  &.tailoring {
    background: transparent;
    height: 10vw;
  }
}

.hamburger, .hamburger-close {
  display: none;
}

.main-nav {
  padding: 40*@x 60*@x 40*@x;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  line-height: 40*@x;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 14*@x;

    &:hover {
      color: @gold;
    }

    .icon-chevron {
      margin-bottom: -3*@x;
      margin-left: 3*@x;
      height: 15*@x;
    }

    .icon-cart {
      margin: 3*@x 0 -3*@x;
    }
  }

  &.white {
    background: #fff;
    color: #000;
    position: fixed;
    top: -80*@x;
    left: 0;
    right: 0;
    height: 80*@x;
    padding-top: 22*@x;
    box-sizing: border-box;
    z-index: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a, .icon {
      color: #000;

      &:hover {
        color: @gold;

        svg {
          color: @gold;
        }
      }
    }

    .menu-shop, .menu-pages {
      & > li {
        &.grey {
          color: rgba(0, 0, 0, .6);
        }
      }
    }

    .logo {
      background-image: url(../img/logo_black.png);
    }
  }
}

.logo {
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
  text-indent: -100vw;
  width: 61*@x;
  height: 40*@x;
}

.menu-shop, .menu-pages {
  flex-grow: 1;
  width: 300*@x;
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    padding-right: 30*@x;

    &.grey {
      color: rgba(255, 255, 255, .6);
    }
  }
}

.menu-shop-second {
  .menu-outlet();
  text-align: left;
  line-height: 50*@x;
  height: 50*@x;
  //border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 80*@x;
  margin: 0 0 -88px;
  padding: 0 60*@x;
  display: none;

  & > li {
    display: inline-block;
    margin: 0;
    margin-right: 40*@x;

    & > a {
      line-height: 50*@x;
      font-size: 14*@x;
      display: block;
    }

    &.active {
      & > a {
        color: @gold;
        border-bottom: 2px solid @gold;
        position: relative;
        z-index: 4;
      }
    }
  }
}

.menu-shop-third {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  background: #fff;
  //max-height: 50vh;
  top: 50*@x;
  padding: 40*@x 60*@x;
  overflow-y: scroll;
  max-height: 65vh;

  ul {
    padding: 0;

    & > li {
      width: 50%;
      height: 42*@x;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      & > a {
        color: rgba(0, 0, 0, .6);
        text-transform: none;
        font-size: 18*@x;
        line-height: 22*@x;
        font-family: @f2;
      }
    }
  }

  h5 {
    font-size: 24*@x;
    font-family: @f3;
    font-weight: 400;
    text-transform: none;
    line-height: 1.5;
    width: 150*@x;
    margin: 0 0 10*@x;
  }
}

.main-nav.white .menu-shop-third a {
  color: rgba(0, 0, 0, .6);
  white-space: nowrap;

  &:hover {
    color: @gold;
  }
}

.menu-shop-category-wrapper {
  float: left;
  width: 16%;

  &.wide {
    width: 32%;

    ul {
      columns: 2;
    }
  }

  &.extra-wide {
    width: 48%;

    ul {
      columns: 3;
    }
  }
}

.menu-pages {
  text-align: right;
}

.menu-social, .menu-contacts {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 65*@x;

  & > li {
    margin-top: 65*@x;
  }
}

.menu-social {
  left: 65*@x;
}

.fire-submenu-social {
  &:hover {
    .submenu-social {
      display: block;
    }
  }
}

.submenu-social {
  display: none;
  position: absolute;
  background: #ffffff;
  list-style: none;
  margin: -40*@x 0 0 0;
  white-space: nowrap;
  margin-left: 200%;
  padding: 0 0 0 20*@x;
  height: 60*@x;
  line-height: 60*@x;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 10*@x solid transparent;
    border-right: 10*@x solid #fff;
    margin: 18*@x 0 0 -40*@x;
  }

  li {
    display: inline-block;
    margin-right: 20*@x;
  }

  a {
    color: #000;
    font-size: 18*@x;
    line-height: 60*@x;
    text-transform: uppercase;

    &:hover {
      color: @gold;
    }
  }
}

.menu-contacts {
  right: 65*@x;
}

.slide-header {
  color: #fff;
  height: 150*@x;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;

  &-h2 {
    font-size: 48*@x;
    line-height: 1;
    font-family: @f3;
    margin: 0;
    color: #fff;
  }

  &-h5 {
    font-size: 14*@x;
    line-height: 1;
    font-family: @f1;
    text-transform: uppercase;
    margin: 20*@x 0 0;
  }
}

.menu-slides {
  font-size: 0;
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
  bottom: 20*@x;

  & > li {
    opacity: .2;
    display: inline-block;

    &.active {
      opacity: 1;
    }
  }

  a {
    height: 1px;
    padding: 20*@x 0;
    background: #fff;
    overflow: hidden;
    text-indent: -100vw;
    width: 40*@x;
    display: block;
    margin: 0 10*@x;
    background-clip: content-box;
  }
}

.fire-cloud-menu {
  position: relative;
}

.cloud-menu {
  display: none;
  position: absolute;
  height: 60*@x;
  line-height: 20*@x;
  background: #fff;
  //width: 100*@x;
  list-style: none;
  right: 20*@x;
  top: 66*@x;
  white-space: nowrap;
  padding: 0 20*@x;

  &:before {
    content: '';
    width: 1px;
    height: 1px;
    border-width: 10*@x;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -20*@x;
    right: 20*@x;
  }

  li {
    .active {
      color: @gold;
    }

    display: inline-block;
    padding: 20*@x 10*@x 20*@x;
  }

  //display: none;
}

/* Content section begin */

.menu-outlet {
  padding: 0;
  margin: 60*@x auto;
  text-align: center;
  position: relative;

  & > li {
    display: inline-block;
    margin: 0 70*@x;

    & > a {
      font-size: 18*@x;
      text-transform: uppercase;
      color: #000;
      .hoverTransition();

      & > span {
        color: rgba(0, 0, 0, .4);
        .hoverTransition();
      }

      &:hover, &:hover > span {
        color: @gold;
      }
    }
  }

  &-third {
    display: none;
    position: absolute;
    top: 30*@x;
    left: 0;
    right: 0;
    .menu-shop-third();
    max-height: 1000vh;

    ul {
      list-style: none;
    }

    h5, li {
      text-align: left;
    }
  }
}

.main-content {
  .menu-shop-second {
    display: block;
  }
}

.section-outlet {
  position: relative;
  overflow: hidden;
}

.heading-outlet {
  padding-left: 136*@x;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 435*@x;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+65,f1f1f1+100&1+0,1+65,0+100 */
  background: -moz-linear-gradient(left, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 55%, rgba(241, 241, 241, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 55%, rgba(241, 241, 241, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(241, 241, 241, 1) 0%, rgba(241, 241, 241, 1) 55%, rgba(241, 241, 241, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#00f1f1f1', GradientType=1); /* IE6-9 */

  &-title {
    font-size: 36*@x;
    line-height: 1;
    font-family: @f3;
    font-weight: 400;
    margin: 75*@x 0 0;
  }

  &-description {
    .p();
    width: 205*@x;
    margin: 16*@x 0 28*@x;
  }
}

.button-white {
  width: 130*@x;
  height: 50*@x;
  font-size: 14*@x;
  text-transform: uppercase;
  line-height: 50*@x;
  text-align: center;
  background: #fff;
  border-radius: 25*@x;
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.button-black {
  .button-white();
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .1);
  color: #fff;
  font-family: @f1;
  font-weight: 400;
  position: relative;
  z-index: 2;

  &:hover {
    color: @gold;
  }
}

.button-gold {
  .button-white();
  width: auto;
  padding: 0 50*@x;
  background: @gold;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.wrapper-slider-shop {
  width: 100%;

  &.cropped {
    margin-left: 15vw;
  }

  &.offset {
    position: relative;
    left: -21.2%;
    width: 121.2%;

    .slider-shop {
      width: 3428px;
      height: 360px*2;
      margin: 0;
    }

    .slider-shop-slides {
      width: 3428px;
      height: 360px*2;
    }
  }
}

/*jssor slider loading skin spin css */
.slider-shop-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);

  img {
    margin-top: -19*@x;
    position: relative;
    top: 50%;
    width: 38*@x;
    //height: 38*@x;
  }
}

.slider-shop-spinner img {
  animation-name: slider-shop-spinner;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slider-shop-spinner {
  from {
    //transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    //transform: rotate(360deg);
    opacity: 1;
  }
}

/* */
.slider-shop {
  width: 3000px;
  height: 360px*2;
  position: relative;
  margin: 0 auto;
  top: 0;
  right: 0;
  overflow: hidden;
  visibility: hidden;

  &-slides {
    width: 3000px;
    height: 360px*2;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &-arrow {
    position: absolute;
    cursor: pointer;
    background: rgba(241, 241, 241, .4);

    &.right, &.left {
      width: 105*@x*2;
      height: 100%;
      transform: none !important;
      top: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f1f1+0,f1f1f1+100&0+0,0.65+100 */
      background: -moz-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f1f1f1', endColorstr='#a6f1f1f1', GradientType=1); /* IE6-9 */
    }

    &.left {
      -moz-transform: scaleX(-1) !important;
      -webkit-transform: scaleX(-1) !important;
      transform: scaleX(-1) !important;
    }
  }

  &-slide {
    background-color: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;

    &:hover {
      .slide-hover();
    }

    &-title, &-discount {
      transform: perspective(1px)
    }

    &-title {
      font-size: 48px;
      line-height: 1;
      font-family: @f3;
      color: #000;
      margin-top: 270px*2;
      display: block;
    }

    &-discount {
      font-size: 36px;
      line-height: 1;
      font-family: @f1;
      color: @gold;
      margin-top: 26px;
    }
  }
}

.cropped {
  .slider-shop-arrow {
    &.right {
      left: auto !important;
      right: 15vw/2;
    }
  }
}

.offset {
  .slider-shop-arrow {
    &.right {
      left: auto !important;
      //right: 15vw/2;
      right: 0;
    }

    &.left {
      right: auto !important;
      left: 12vw !important;
    }
  }
}

.section-look {
  margin-top: 50*@x;
  overflow: hidden;
  padding-bottom: 47*@x;
  background: #f1f1f1 url(../img/bg-look.png) right bottom no-repeat;
  background-position-y: 94*@x;
  background-size: auto 100%;

  &-img-wrapper {
    width: 905*@x;
    height: 360*@x;
    overflow: hidden;
    margin: 0 30*@x 30*@x 15*@x;
    float: left;
  }

  &-img {
    max-width: 100%;
  }

  &-title {
    margin: 109*@x 0 0;
    width: 1260*@x;
  }

  &-description {
    margin-top: 10*@x;
    width: 1160*@x;
    .p();
  }

  &-slider {
    clear: both;
    padding: 0 0 0 135*@x;
  }

  &-slide {
    width: 170*@x + 230*@x;
    float: left;
    padding-right: 50*@x;
    box-sizing: border-box;

    &-img {
      width: 170*@x;
      height: 273*@x;
      float: left;
      margin-right: 30*@x;
    }

    &-title {
      margin: 47*@x 0 0;
    }

    &-description {
      margin-top: 8*@x;
      .p();
    }
  }

  .button-white {
    color: @gold;
    margin-top: 60*@x;
  }

  a:hover {
    .section-look-slide-title,
    .section-look-title {
      .hoverTransition();
      color: @gold;
    }
  }
}

.section-brands {
  height: 100*@x;
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 50*@x 0;
  clear: both;

  &-brand-wrapper {
    width: 80*@x;
    height: 80*@x;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -100vw;
    overflow: hidden;
    margin: 0 60*@x;

    &:first-child {
      margin-left: 0;
    }
  }

  &-btn-all {
    .button-white();
    line-height: 20*@x;
    margin: 20*@x 0 0 60*@x;
    width: 80*@x;
    color: rgba(0, 0, 0, 0.4);
  }
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  background: #000;
}

.section-subsсribe {
  width: 60%;
  height: 300*@x;
  background: #1a1a1a;
  padding: 80*@x 0 0 135*@x;
  box-sizing: border-box;
  color: #fff;

  &-title {
    color: #fff;
  }

  &-description {
    .p();
    color: rgba(255, 255, 255, .4);
    margin-top: 10*@x;
  }

  &-input {
    margin-top: 30*@x;
    height: 40*@x;
    width: 440*@x;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    font-family: @f3;
    //padding: 0 20*@x;
    font-size: 20*@x;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: @grey-dark;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: @grey-dark;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: @grey-dark;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: @grey-dark;
    }
  }

  .button-black {
    margin: -24*@x 95*@x 0 0;
    float: right;
  }
}

.section-tailoring {
  width: 40%;
  height: 300*@x;
  padding: 70*@x 65*@x;
  box-sizing: border-box;
  background: #0d0d0d url(../img/bg-tailoring.png) right bottom;
  mix-blend-mode: screen;
  background-size: 75%;
  background-repeat: no-repeat;

  &-title {
    color: #fff;
  }

  &-description {
    .p();
    margin-top: 10*@x;
    color: rgba(255, 255, 255, .4);
    width: 200*@x;
  }
}

.section-contacts {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 50*@x 100*@x 0;
  padding-bottom: 40*@x;
  border-bottom: 1px solid rgba(255, 255, 255, .1);

  &-item {
    width: 25%;
    text-align: center;
  }

  .icon {
    opacity: .6;
    display: inline-block;
    margin: 0 auto;
  }

  &-title {
    font-size: 18*@x;
    color: #fff;
    font-weight: 400;
    font-family: @f2;
    text-transform: uppercase;
    display: block;
    line-height: 22*@x;
    margin: 7*@x 0;

    &.phones {
      line-height: 28*@x;

      a {
        color: #fff;

        &:hover {
          color: @gold;
        }
      }
    }
  }

  &-description {
    color: rgba(255, 255, 255, .4);
    font-size: 14*@x;
    line-height: 20*@x;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;

    a {
      color: rgba(255, 255, 255, .4);

      &:hover {
        color: @gold;
      }
    }
  }
}

.section-social {
  width: 100%;
  height: 90*@x;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 585*@x;

  .icon {
    color: #fff;
    padding: 33*@x;
    opacity: .4;

    &:hover {
      color: @gold;
      opacity: 1;
    }
  }
}

// PAGE Outlet level 1
.page-title {
  line-height: 55*@x;
  padding: 36*@x 0;

  img {
    max-height: 60*@x;
  }
}

.container {
  width: 1170*@x;
  margin: 0 auto;
}

.breadcrumbs {
  display: block;
  font-size: 14*@x;
  line-height: 20*@x;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10*@x 0 0;

    a, .icon {
      color: rgba(0, 0, 0, .6);
    }

    .icon {
      height: 16*@x;
      margin: 4*@x 0 -4*@x;
    }

    .icon-slash {
      margin: 0 10*@x 0 0;
      display: inline-block;
    }
  }
}

.main-content > .breadcrumbs:first-child {
  .container();
  margin-top: 45* @x;
  margin-bottom: -75*@x;
}

.category-level-1 {
  text-align: center;

  h2 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 50*@x 0 40*@x;
  }

  .button-white {
    width: auto;
    padding: 0 35*@x;
    margin: 30*@x 0 50*@x;
  }
}

.pseudoslider {
  display: flex;
  justify-content: space-between;

  .slider-shop-slide {
    width: 270*@x;
    height: 360*@x;
  }

  .slider-shop-slide-title {
    margin-top: 270*@x;
    font-size: 24*@x;
  }

  .slider-shop-slide-discount {
    margin-top: 13*@x;
    font-size: 18*@x;
  }
}

// Page Outlet Catalog

.sort-options {
  text-align: right;
  white-space: nowrap;
  font-size: 14*@x;
  line-height: 20*@x;
  height: 20*@x;
  margin-top: -75*@x;
  margin-bottom: 55*@x;
  padding: 0;

  &-label {
    font-size: 14*@x;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .6);
    font-family: @f1;
    margin-right: 10*@x;
  }
}

.wrapper-catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30*@x;

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: .5vw 0 1vw;
  }
}

.aside-menu {
  width: 270*@x;
  background: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
}

.catalog {
  width: 870*@x;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 270*@x;
  height: 360*@x;
  margin-bottom: 30*@x;
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;

  &:hover {
    .slide-hover();
  }

  &-title {
    font-size: 18*@x;
    line-height: 1;
    font-family: @f3;
    color: #000;
    margin: 270*@x 20*@x 20*@x;
  }

  &-old-price {
    display: inline-block;
    font-size: 14*@x;
    line-height: 22*@x;
    color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    text-decoration: line-through;
    margin-left: 6*@x;
  }

  &-price {
    font-size: 18*@x;
    line-height: 22*@x;
    margin: 10*@x 20*@x;
    color: @gold;
    text-transform: uppercase;
  }

  &-discount {
    font-size: 14*@x;
    line-height: 22*@x;
    float: right;
    margin: -32*@x 20*@x 0 0;
    font-family: @f1;
    color: rgba(0, 0, 0, .4);
  }
}

.aside-menu {
  padding: 20*@x;

  &-title {
    font-size: 24*@x;
    font-family: @f3;
    font-weight: 400;
    margin: 0;
  }

  &-input {
    width: 100*@x;
    margin-right: 25*@x;
    display: inline-block;

    &:last-child {
      margin: 0;
    }
  }

  &-filter-item {
    margin-top: 20*@x;
  }

  &-brands {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-brand {
    font-size: 18*@x;
    line-height: 22*@x;
    margin: 16*@x 0 0;
    font-family: @f2;
    font-weight: 400;

    &.active {
      & > a {
        color: @gold;
      }
    }

    & > a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: @gold;
      }
    }

    .icon, svg {
      color: @gold;
      float: right;
    }
  }
}

// Page Item Product
.wrapper-product {
  background: #fff;
  padding: 30*@x 0 0;

  & + .category-level-1 {
    h2 {
      border-top: 0;
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20*@x;

  &-title-group {
    margin-top: 70*@x;
    width: 335*@x;
  }

  &-title {
    width: 280*@x;
    text-align: left;
    line-height: 1.2;
    margin: 20*@x 0 5*@x;
  }

  &-description {
    font-size: 18*@x;
    font-family: @f3;
    font-weight: 400;
    width: 200px;
    color: rgba(0, 0, 0, .6);
    line-height: 1.5;
    margin: 0;

    &:after {
      content: '';
      display: block;
      width: 140px;
      height: 1px;
      margin-top: 15*@x;
      background: rgba(0, 0, 0, .1);
    }
  }

  .icon {
    color: @grey-dark;
    height: 22*@x;

    &-share {
      margin-top: 25*@x;
    }
  }

  &-details {
    width: 335*@x;
    padding-left: 125*@x;
    box-sizing: border-box;

    &-title {
      font-size: 24*@x;
      font-family: @f3;
      font-weight: 400;
      margin: 120*@x 0 0;
    }

    select {
      height: 40*@x;
      line-height: 40*@x;
      font-family: @f3;
      font-size: 18*@x;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      text-transform: none;
      color: rgba(0, 0, 0, .4);
      width: 100%;
      margin-top: 30*@x;
    }
  }

  &-quantity {
    &-label {
      height: 40*@x;
      font-family: @f3;
      font-size: 18*@x;
      color: rgba(0, 0, 0, .4);
      margin-top: 30*@x;
    }

    &-input {
      //border: 1px solid rgba(0, 0, 0, .1);
      border: 0;
      width: 60*@x;
      //padding: 0 0 0 20*@x;
      line-height: 40*@x;
      text-align: left;
      font-family: @f3;
      font-size: 28*@x;
      text-align: left;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
        height: 40*@x;
      }
    }
  }

  &-main {
    text-align: center;
    margin-bottom: -25*@x;
    position: relative;
  }

  &-image {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -200vw;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;

    &:first-child {
      opacity: 1;
    }

    &-wrapper {
      width: 500*@x;
      height: 550*@x;
      max-height: 55vh;
      margin: 0 auto;
      position: relative;
    }
  }

  &-image-controls {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;
    }

    &-left, &-right {
      margin: 20*@x 30*@x;
      vertical-align: top;

      .icon {
        &:hover {
          color: #000;
        }
      }
    }
  }

  &-image-indicators {
    .menu-slides();
    position: static;
    display: inline-block;
    width: auto;
    margin: 10*@x 0 5*@x;
    white-space: nowrap;

    a {
      background-color: #000;
    }
  }

  &-price {
    font-size: 48*@x;
    color: @gold;
    font-family: @f3;
    font-weight: 400;
    line-height: 1.2;
  }

  .button-gold {
    margin: 12*@x 0 0;
    font-size: 14*@x;
    font-family: @f2;
    font-weight: 400;
  }

  &-old-price, &-dicount {
    position: absolute;
    left: 2vw;
    bottom: 1vw;
    color: rgba(0, 0, 0, .4);
    font-size: 24*@x;
    text-transform: uppercase;
  }

  &-old-price {
    text-decoration: line-through;
  }

  &-dicount {
    left: auto;
    right: 2vw;
  }
}

// Checkout
.wrapper-checkout {
  border-top: 1px solid rgba(0, 0, 0, .1);

  .button-gold {
    width: 190*@x;
    margin: 20*@x auto 40*@x;
    display: block;
    font-family: @f2;
    position: relative;

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      left: -490*@x;
      top: 25*@x;
      width: 460*@x;
      height: 1px;
      background: rgba(0, 0, 0, .1);
    }

    &:after {
      right: -490*@x;
      left: auto;
    }
  }
}

.checkout-head, .checkout-content-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  .col {
    width: 10%;

    &:nth-child(2) {
      width: 18%;
    }

    &:nth-child(3), &:nth-child(4) {
      width: 13%;
    }

    &:nth-child(5) {
      text-align: center;
      width: 7%;
    }

    &:nth-child(6) {
      width: 13%;
      text-align: center;
    }

    &:nth-child(7), &:nth-child(8) {
      text-align: center;
    }

    &:nth-child(9) {
      width: 5%;
    }
  }
}

.checkout-head {
  padding-top: 40*@x;

  .col {
    height: 40*@x;
    line-height: 40*@x;
    white-space: nowrap;
    font-family: @f2;
    font-size: 18*@x;
    color: rgba(0, 0, 0, .6);
  }
}

.checkout-content-row {
  background-color: #fff;
  padding: 0;
  margin-bottom: 2*@x;

  .col {
    height: 120*@x;
    padding: 45*@x 0;
    box-sizing: border-box;
    line-height: 30*@x;
    white-space: nowrap;
    font-family: @f2;
    font-size: 18*@x;
    color: #000;
  }

  .checkout-item-col {
    &-image {
      padding: 20*@x 10*@x;
    }

    &-title {
      padding: 35*@x 0;
    }

    &-old-price {
      color: rgba(0, 0, 0, .4);
      text-decoration: line-through;
    }

    &-save {
      color: rgba(0, 0, 0, .4);
    }

    &-price {
      color: @gold;
    }

    &-controls {
      opacity: .4;

      &:hover {
        opacity: 1;
      }

      svg {
        color: #000;
      }
    }
  }
}

.checkout-item {
  &-image {
    width: 80*@x;
    height: 80*@x;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-title {
    font-size: 24*@x;
    font-family: @f3;
    color: #000;
  }

  &-brand {
    color: rgba(0, 0, 0, .6);
  }

  &-color, &-size {
    text-transform: none;
    font-family: @f2;
    font-size: 18*@x;
  }

  &-quantity {
    border-bottom: 0;
    width: 40*@x;
    font-size: 18*@x;
    margin: 0 auto;
    padding: 0;
    display: block;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      opacity: 1;
      height: 40*@x;
    }
  }
}

.checkout-total {
  &-price {
    font-size: 24*@x;
    color: @gold;
    text-align: center;
    margin-top: 30*@x;
  }

  &-save {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 14*@x;
    margin-top: 3*@x;
  }
}

.checkout-explanation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40*@x;
  align-items: center;

  &-item {
    max-width: 260*@x;
    text-align: center;
  }

  &-arrow {
    color: rgba(0, 0, 0, .4);
  }

  &-icon svg {
    color: rgba(0, 0, 0, .6);
    height: 15*@x;
    margin-bottom: 6*@x;
  }

  &-title {
    font-size: 24*@x;
    font-family: @f3;
  }

  &-description {
    font-size: 18*@x;
    font-family: @f2;
    margin-top: 10*@x;
    line-height: 1.3;
    color: rgba(0, 0, 0, .4);
  }
}

// Page Look

.section-look {
  &-inner {
    display: flex;
    flex-wrap: wrap;

    .section-look-item:nth-child(4n),
    .section-look-item:nth-child(4n-1) {
      .section-look-item-image {
        float: right;
        order: 2;
      }
    }
  }

  &-item {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 60*@x;

    &:hover {
      .section-look-item-title {
        color: @gold;
      }
    }

    &-image {
      width: 370*@x;
      height: 340*@x;
      float: left;
      background-size: cover;
    }

    &-text {
      margin: 0 30*@x;
      width: 170*@x;
    }

    &-title {
      font-size: 24*@x;
      line-height: 1.2;
      margin-bottom: 8*@x;
      .hoverTransition();
    }

    &-description {
      font-family: @f2;
      font-size: 18*@x;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &-page-number {
    font-size: 24*@x;
    font-family: @f3;
    margin-bottom: 60*@x;
    color: rgba(0, 0, 0, .4);
    text-align: center;
  }
}

// Page Look

.section-look {
  &-inside {
    &-image-main {
      width: 1170*@x;
      height: 360*@x;
      background-size: cover;
    }

    &-description {
      max-width: 570*@x;
      font-size: 24*@x;
      font-family: @f2;
      margin: 32*@x auto 0;
      padding-bottom: 50*@x;
      color: rgba(0, 0, 0, .4);
      text-align: center;
      line-height: 1.3;
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }

    &-heading {
      margin: 50*@x 0 28*@x;
      font-size: 24*@x;
      text-align: center;
    }

    &-item {
      &:hover {
        .section-look-inside-item-title {
          color: @gold;
        }
      }

      &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &-image {
        width: 370*@x;
        height: 340*@x;
        background-size: cover;
      }

      &-title {
        font-size: 24*@x;
        margin-top: 20*@x;
        margin-bottom: 60*@x;
        .hoverTransition();
      }
    }
  }
}

.contacts-gold {
  position: relative;
  text-align: center;

  &:before, &:after {
    content: '';
    width: 370*@x;
    left: 0;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, .1);
    top: 12*@x;
  }

  &:after {
    left: auto;
    right: 0;
  }

  &-heading {
    font-size: 24*@x;
    color: @gold;
  }

  &-phone {
    font-family: @f3;
    font-size: 48*@x;
    margin-top: 12*@x;
    line-height: 1.3;

    a {
      color: @gold;
    }

    span {
      font-size: 24*@x;
    }
  }

  &-description {
    margin: 20*@x auto 52*@x;
    max-width: 260*@x;
    font-family: @f2;
    font-size: 18*@x;
    color: rgba(0, 0, 0, .4);
    line-height: 1.3;
  }
}

.contacts-form {
  overflow: hidden;
  background: #f8f8f8;

  &-wrapper {
    max-width: 600*@x;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &-heading {
    text-align: center;
    max-width: 710*@x;
    margin: 36*@x auto;
    padding-bottom: 36*@x;
    text-align: center;
    font-size: 36*@x;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .field {
    width: 50%;
    box-sizing: border-box;
    padding: 20*@x 15*@x;
    position: relative;

    &-full {
      width: 100%;
    }

    label[for=contactEmail] {
      font-family: @f3;
      color: rgba(0, 0, 0, .4);
      margin: -10*@x 0 0;
      position: absolute;
    }

    .error {
      color: red;
      font-family: @f3;
      position: absolute;
      bottom: -10*@x;
    }
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    color: #000;
    font-size: 18*@x;
    font-family: @f3;
  }

  .button-white {
    font-size: 14*@x;
    border: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: @f1;
    margin: 20*@x auto 40*@x;
  }
}

// Modal Order
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2);
  z-index: 999;

  &-body {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 460*@x;
    width: 770*@x;
    margin: -460*@x/2 0 0 -770*@x/2;
    padding: 36*@x 100*@x;
    box-sizing: border-box;
    overflow: hidden;
    background: #f8f8f8;
  }

  &-heading {
    font-size: 36*@x;
    text-align: center;
  }

  &-form {
    margin: 0 -15*@x;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    .field {
      width: 50%;
      box-sizing: border-box;
      padding: 20*@x 15*@x;
      position: relative;

      .error {
        color: red;
        font-family: @f3;
        position: absolute;
        bottom: -5*@x;
      }
    }

    label {
      font-size: 16*@x;
      line-height: 1;
      margin-bottom: -5*@x;
      font-family: @f3;
      color: rgba(0, 0, 0, .4);
      display: block;
      cursor: pointer;
    }

    input[type=radio] {
      display: none;
    }

    input + label {
      float: left;
      width: 50%;
      font-size: 18*@x;
      text-align: center;
      color: rgba(0, 0, 0, .4);
      padding-top: 16*@x;
      padding-bottom: 8*@x;
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      .icon {
        height: 14*@x;
        color: rgba(0, 0, 0, .2);
      }
    }

    input:checked + label {
      color: @gold;
      padding-bottom: 7*@x;
      border-bottom: 2px solid @gold;

      .icon {
        color: @gold;
      }
    }

    .radio-3 input + label {
      width: 33%;
    }

    input[type=text],
    input[type=tel],
    input[type=password],
    input[type=email] {
      width: 100%;
      color: #000;
      font-size: 18*@x;
      font-family: @f3;
      //box-sizing: border-box;
      //padding: 0 10px;
    }

    select {
      width: 28%;
      margin: 13*@x 5% 0 0;
      height: 28*@x;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      float: left;
      text-transform: none;
      font-family: @f3;
      font-size: 18*@x;

      &:focus {
        color: @gold;
        outline: 0;
      }

      //color: rgba(0,0,0,.4);
    }

    .button-white {
      font-size: 14*@x;
      border: 0;
      padding: 0;
      text-transform: uppercase;
      font-family: @f1;
      margin: 20*@x auto 40*@x;

      &.wide {
        width: auto !important;
        min-width: 150*@x;
        padding: 0 20*@x;
      }
    }
  }

  .icon-x {
    color: rgba(0, 0, 0, .2);
    position: absolute;
    right: 44px;
    top: 44px;
  }

  p {
    font-size: 24*@x;
    font-family: @f2;
    line-height: 1.3;
  }

  .button-white {
    padding: 0;
  }

  .center {
    margin: 0 auto;
    display: block;
  }

  &-registration {
    .modal-form .field {
      padding: 15*@x;
    }

    .forgot-password {
      color: @gold;
      width: 100%;
      height: 22*@x;
      line-height: 22*@x;
      font-size: 18*@x;
      margin: -20*@x auto 0;
      font-weight: 400;
      text-align: center;

      a {
        color: @gold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .wrapperAutorizationForm {
    margin-top: 50*@x;
  }

  .wrapperChooseForms {
    position: relative;
  }

  .wrapperAutorizationForm, .wrapperRegistrationForm {
    position: absolute;
  }
}

.chooseModal {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin: 30*@x 0 10*@x;

  a {
    color: #000;
    text-transform: uppercase;
    font-size: 14*@x;
    line-height: 14*@x;
    padding: 0 10*@x 16*@x;

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }

    .chosen {
      border-bottom: 2px solid @gold;
      color: @gold;
      padding: 0 0 14*@x;
    }

    width: 50%;
    display: block;
  }
}

.modal-password {
  .modal-body {
    height: 260*@x;
    margin-top: -260*@x/2;
  }

  .button-white {
    margin-top: 20*@x !important;
  }
}

.section-brand {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  &-item {
    width: 100%/6;
    margin: 30*@x 0;
    box-sizing: border-box;
    text-align: center;

    & > img {
      max-width: 150*@x;
      max-height: 120*@x;
    }
  }

  &-inner {
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: center;

    &-heading {
      margin: 60*@x 0 19*@x;
      font-size: 24*@x;
      line-height: 1.5;
      font-family: @f3;
      color: rgba(0, 0, 0, .8);
    }

    &-img {
      margin: 0 auto 30*@x;
    }
  }
}

// page About
.about {
  &-description {
    font-size: 24*@x;
    font-family: @f2;
    max-width: 700*@x;
    line-height: 1.3;
    color: rgba(0, 0, 0, .4);
    text-align: center;
    margin: -15*@x auto 50*@x;
  }
}

.shop {
  font-size: 36*@x;
  margin: 0 0 30*@x;
  width: 50%;
  display: inline-block;

  h2 {
    margin-bottom: 30*@x;
    width: 100%;
  }

  &-img {
    width: 270*@x;
    height: 340*@x;
    margin-right: 30*@x;
    float: left;
  }

  &-info {
    display: block;

    &-phone {
      color: @gold;
      font-size: 24*@x;
      font-family: @f3;
      line-height: 1.2;
      margin-bottom: 15*@x;

      a {
        color: @gold;
      }
    }

    &-address {
      font-size: 18*@x;
      margin-bottom: 15*@x;
      font-family: @f2;
      line-height: 1.5;

      a {
        color: #000;

        &:hover {
          color: @gold;
        }
      }
    }

    &-shedule {
      font-family: @f2;
      line-height: 1.5;
      font-size: 18*@x;
      margin-bottom: 15*@x;
      float: left;
      width: 140*@x;
      color: rgba(0, 0, 0, .4);

      &.full {
        float: none;
        width: auto;
      }
    }

    &-description {
      font-family: @f2;
      line-height: 1.5;
      font-size: 18*@x;
      margin-bottom: 15*@x;
      color: rgba(0, 0, 0, .4);
      min-width: 300*@x;
      padding-right: 30*@x;
    }
  }
}

.section-shops {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.map {
  margin: -150*@x 0 0;
  position: relative;
  z-index: 0;

  img {
    text-align: center;
    width: 100%;
  }
}

// Page Tailoring

.section-tailoring-order {
  background: url(../img/bg-tailoring.jpg) center top no-repeat;
  background-size: auto 85%;
  margin-top: -10vw;
  padding-top: 161*@x;
  box-sizing: border-box;

  &-heading {
    width: 730*@x;
    font-size: 48*@x;
    line-height: 1.2;
    color: #fff;
    margin: 0 auto 30*@x;
  }

  &-description {
    font-size: 24px;
    line-height: 1.2;
    color: #fff;
    width: 600*@x;
    margin: 0 auto 30*@x;
    font-family: @f3;
    opacity: .8;
    text-align: center;
  }

  .button-white {
    width: 190*@x;
    height: 50*@x;
    margin: 0 auto;
    color: @gold;
    display: block;
  }

  &-description-block-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 177*@x;
    width: 100%;
  }

  &-description-1 {
    padding: 74*@x 275*@x 74*@x 100*@x;
    color: #fff;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
    width: 50%;
    box-sizing: border-box;
    position: relative;

    &:before {
      content: '';
      width: 171*@x;
      height: 2*@x;
      opacity: .2;
      background: #fff;
      position: absolute;
      top: 0;
      left: 100*@x;
    }
  }

  &-image-1 {
    background: url(../img/tailoring1.jpg);
    background-size: cover;
    width: 50%;
    height: 509*@x;
  }

  &-description-block-2 {
    width: 100%;
    background: #f1f1f1;
    height: (296+520)*@x;
    background: url(../img/bg-tailoring1.png) no-repeat 40*@x 210*@x;
    background-size: 370*@x 686*@x;
  }

  &-description-2 {
    margin-left: 537*@x;
    margin-top: 48*@x;
    display: flex;
    color: #000;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;

    p {
      width: 340*@x;
      height: 100*@x;
      margin-right: 59*@x;
      margin-bottom: 148*@x;
    }
  }

  &-image-2 {
    background: url(../img/tailoring2.jpg);
    margin-left: 537*@x;
    background-size: cover;
    width: 770*@x;
    height: 520*@x;
    position: relative;
    margin-top: -255*@x;
  }
}

.section-textile {
  margin-right: 135*@x;
  background: #fff url(../img/bg-tailoring2.png) no-repeat 0 360px;
  background-size: 217*@x 410*@x;
  padding-bottom: 80*@x;

  h2 {
    padding: 80*@x 135*@x 30*@x;
  }

  &-image-1 {
    width: 705*@x;
    height: 520*@x;
    background: url(../img/tailoring3.jpg) no-repeat;
    background-size: 100%;
    margin-top: 80*@x;
    float: right;
    margin-right: -135*@x;
  }

  &-description-1 {
    width: 530*@x;
    column-count: 2;
    column-gap: 70*@x;
    margin-bottom: 92*@x;
    margin-left: 135*@x;
    color: #000;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;

    p {
      margin: 0;
    }
  }

  &-image-2 {
    width: 570*@x;
    height: 340*@x;
    margin-left: 235*@x;
    background: url(../img/tailoring4.jpg) no-repeat;
    background-size: 100%;
  }

  &-description-2 {
    margin-top: -150*@x;
    margin-bottom: 80*@x;
    float: right;
    margin-right: 130*@x;
    color: #000;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
    width: 270*@x;
  }
}

.section-shoes {
  margin: 160*@x 0 20*@x 0;
  background: #f1f1f1 url(../img/bg-tailoring3.png) no-repeat right top;
  background-blend-mode: multiply;
  background-size: 655*@x 540*@x;
  min-height: 700*@x;

  h2 {
    margin-left: 135*@x;
  }

  .light {
    opacity: .6;
  }

  &-description-1 {
    margin-left: 135*@x;
    margin-bottom: 83*@x;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
    width: 585*@x;

    p:first-child {
      width: 500*@x;
    }
  }

  &-image-1 {
    width: 705*@x;
    height: 470*@x;
    background: url(../img/tailoring5.jpg) no-repeat;
    background-size: 100%;
    float: left;
  }

  &-description-2 {
    margin-right: 308*@x;
    margin-top: 77*@x;
    width: 297*@x;
    float: right;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
  }

  &-image-2 {
    margin-top: -170*@x;
    margin-right: 235*@x;
    width: 570*@x;
    height: 740*@x;
    float: right;
    background: url(../img/tailoring6.jpg) no-repeat;
    background-size: 100%;
  }

  h3 {
    margin-top: 67*@x;
    width: 264*@x;
    height: 61*@x;
    margin-left: 135*@x;
    float: left;
  }

  &-description-3,
  &-description-4 {
    float: left;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
    opacity: .6;
    width: 410*@x;
    margin-left: 135*@x;
  }

  &-description-4 {
    opacity: 1;
    width: 340*@x;
    margin-left: 235*@x;
    position: relative;
    padding-bottom: 76*@x;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      background: #000;
      opacity: .1;
      top: 25*@x;
      left: -100*@x;
      bottom: 0;
    }
  }
}

.section-materials {
  background: #fff;
  clear: both;
  margin-right: 135*@x;
  height: 738*@x;
  margin-bottom: 140*@x;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 135*@x;
    height: 300*@x;
    width: 2px;
    background: #000;
    opacity: .1;
  }

  &-image-1 {
    margin-top: 80*@x;
    margin-left: 235*@x;
    width: 570*@x;
    height: 350*@x;
    background: url(../img/tailoring7.jpg) no-repeat;
    background-size: 100%;
    float: left;
    position: relative;
    z-index: 2;
  }

  &-image-2 {
    margin-top: -80*@x;
    width: 704*@x;
    height: 450*@x;
    background: url(../img/tailoring8.jpg) no-repeat;
    background-size: 100%;
    float: left;
    margin-bottom: -80*@x;
  }

  h3 {
    width: 270*@x;
    margin-right: 100*@x;
    margin-top: 79*@x;
    margin-bottom: 11*@x;
    float: right;
  }

  &-description-1,
  &-description-2 {
    width: 301*@x;
    margin-right: 70*@x;
    float: right;
    font-family: @f2;
    font-size: 18*@x;
    line-height: 1.3;
  }

  &-description-2 {
    width: 301*@x;
    margin-right: 170*@x;
  }

  .button-gold {
    width: auto;
    padding: 0 50*@x;
    height: 50*@x;
    margin-top: 48*@x;
  }
}


// Page 404

.page404 {
  position: relative;
  text-align: center;
  margin: 0 auto;

  &-bg {
    width: 1200*@x;
    font-size: 600px;
    font-family: @f2;
    color: rgba(255, 255, 255, .05);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600*@x;
    letter-spacing: -20*@x;
  }

  &-heading {
    font-size: 48*@x;
    line-height: 1.5;
    color: #fff;
    font-family: @f3;
    padding-top: 180px;
  }

  &-description {
    font-size: 18*@x;
    color: rgba(255, 255, 255, .4);
    max-width: 350*@x;
    font-weight: 400;
    font-family: @f2;
    margin: 13*@x auto 26*@x;
    line-height: 1.5;
  }

  .button-black {
    margin: 0 13*@x;
  }
}

.pagination {
  clear: both;
  color: #000;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  padding-top: 2vw;

  &-arrow-left,
  &-arrow-right {
    color: #000;
    font-size: 16*@x;
    width: 15%;
    display: block;
    height: 40*@x;
    text-align: left;

    svg {
      color: #000;
    }
  }

  &-arrow-right {
    text-align: right;
  }

  &-page {
    color: #000;
    font-size: 20*@x;
    height: 40*@x;
    min-width: 3vw;

    &.active {
      border-bottom: 2px solid @gold;
    }
  }

  &-dots {
    height: 40*@x;
  }
}

.clear-filters {
  color: rgba(0, 0, 0, .6);
  font-size: 14*@x;
  text-transform: uppercase;
  display: block;
  line-height: 1.3;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 20*@x;

  .icon, svg {
    color: rgba(0, 0, 0, .6);
    float: right;
  }

  &:hover {
    .icon, svg {
      color: @gold;
    }
  }
}